<header>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Deposita tu dinero</h1>
    <p class="fs-3 text-muted">AliBank</p>
  </div>
</header>
<div id="deposi" class="card shadow-sm">
  <section class="get-in-touch">
    <form class="contact-form row">
      <div class="form-field col-lg-6">
        <input id="name" class="input-text js-input" type="text" required />
        <label class="label" for="name">outcome</label>
      </div>
      <br />
      <div class="form-field col-lg-6">
        <input id="company" class="input-text js-input" type="text" required />
        <label class="label" for="company">Amount</label>
      </div>
      <div class="form-field col-lg-12">
        <input class="submit-btn" type="submit" value="Enviar" />
      </div>
    </form>
  </section>
</div>
