<p>PERFIL DEL USUARIO!</p>
<button class="small font-italic text-muted mb-4" type="button" 
(click)="logout()">Cerrar Sesión</button>

<button class="small font-italic text-muted mb-4" type="button" 
(click)="deleteCustomer()">Eliminar mi cuenta en el banco</button>

<div class="container-xl px-2 mt-4">
  <hr class="mt-0 mb-4">
  <div class="row">
      <div class="col-lg-3">
          <!-- Profile picture card-->
          <div class="card mb-2">
              <div class="card-header" >Profile Picture</div>
              <div class="card-body text-center">
                  <!-- Profile picture image
                  img-account-profile rounded-circle mb-2-->
                  <img class="img-fluid" [src]="photo" alt="">
                  <!-- Profile picture help block-->
                  <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                  <!-- Profile picture upload button-->
                  <button class="btn btn-primary" type="button">Upload new image</button>
              </div>
          </div>
      </div>
      <div class="col-lg-5">
          <!-- Account details card-->
          <div class="card mb-4">
              <div class="card-header">Perfil</div>
              <div class="card-body">
                  <form  id="updatUser" [formGroup]="updatUser" (submit)="updateUser()">
                      <!-- Form Group (username)-->
                      <div class="mb-3">
                          <label class="small mb-1" for="inputUsername">Nombre Completo</label>
                          <input class="form-control"
                          type="fullName" placeholder="Nombre Completo" formControlName="fullName"
                          [value]="updatUser.get('fullName')"
                          >
                      </div>
                      <!-- Form Row        -->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (organization name)-->
                          <div class="col-md-6">
                            <label class="small mb-1" for="floatingPassword">Tipo de documento</label>
                            <select formControlName="documentTypeId" [value]="updatUser.get('documentTYpe')"
                            name="documentTypeId" class="form-select" aria-label="Default select example">
                              <option value="52f0d46a-af27-451a-8021-9ab99e00ef1c"> 
                                C.C </option>
                              <option value="52f0d46a-af27-451a-8021-9ab99e00ef1c">
                                Cédula de extranjería </option>
                            </select> 
                            <div *ngIf="updatUser.get('documentTypeId')?.touched && 
                            updatUser.get('documentTypeId')?.errors?.['required']"
                            class="alert alert-danger">Tipo de documento es requerido.</div>
                          </div>
                          <!-- Form Group (location)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputLocation">Documento</label>
                              <input class="form-control" formControlName="document"
                              type="text" placeholder="Documento" 
                              [value]="updatUser.get('document')">
                          </div>
                      </div>
                      <!-- Form Group (email address)-->
                      <div class="mb-3">
                          <label class="small mb-1" for="inputEmailAddress">Correo</label>
                          <input class="form-control" formControlName="email"
                          type="email" placeholder="Correo" [value]="updatUser.get('email')">
                      </div>
                      <!-- Form Row-->
                      <div class="row gx-3 mb-3">
                          <!-- Form Group (phone number)-->
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputPhone">Telefono</label>
                              <input class="form-control" formControlName="phone"
                              type="tel" placeholder="Telefono" [value]="updatUser.get('phone')">
                          </div>
                        </div>
                        <!-- Form Group (birthday)-->
                        <!--<div class="row gx-3 mb-3">-->
                            <!-- Form Group (organization name)
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Contraseña</label>
                                <input class="form-control" formControlName="password"
                                type="text" placeholder="Contraseña" 
                                [value]="updatUser.get('password')">
                            </div>-->
                            <!-- Form Group (location)
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLocation">Confirmar Contraseña</label>
                                <input class="form-control" formControlName="password"
                                type="text" placeholder="Confirmar Contraseña" 
                                [value]="updatUser.get('password')">
                            </div>
                      </div>-->
                      <!-- Save changes button
                                          [disabled]="updatUser.invalid"
                    -->
                      <button class="btn btn-primary" 
                      form="updatUser"
                      type="submit" 
                      >Guardar</button>
                  </form>
              </div>
          </div>
      </div>
      <div class="col-lg-4">
        <!-- Account details card-->
        <div class="card mb-4">
            <div class="card-header"></div>
            <div class="card-body">
              <div class="d-flex flex-row mb-3">
                <app-button-shared (changeRouter)="changeRouterButton(['/account'])" 
                message="Mis Cuentas"></app-button-shared>
                <app-button-shared (changeRouter)="changeRouterButton(['/transfer'])" 
                message="Mis Transferencias"></app-button-shared>
                <app-button-shared (changeRouter)="changeRouterButton(['/deposit'])" 
                message="Mis Depositos"></app-button-shared>
              </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header"></div>
            <div class="card-body">
              <div class="d-flex flex-row mb-3">
                <!--<div class="title-text mt-5">
                    <h2>Balance</h2>
                    <h3> {{balance}} </h3>
                </div>-->
                <app-balance></app-balance>
                <div>
                    <button class="btn btn-primary" 
                    type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Hacer un deposito</button>
                   </div>
                   <div>
                    <button class="btn btn-primary" 
                    type="button" data-bs-toggle="modal" data-bs-target="#exampleModalWithDraw">
                    Retirar deposito</button>
                   </div>
              </div>
            </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" 
aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Retirar deposito</label>
                <input class="form-control" [(ngModel)]="amount"
                type="text" placeholder="Deposito" >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" 
          (click)="makeDeposit()">
            Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalWithDraw" tabindex="-1" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="col-md-6">
                <label class="small mb-1" for="inputLocation">Deposito</label>
                <input class="form-control" [(ngModel)]="withdrawBalance"
                type="text" placeholder="Deposito" >
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" 
          (click)="withdrawDeposit()">
            Guardar</button>
        </div>
      </div>
    </div>
  </div>




