<app-header></app-header>
    <div class="container">
        <form [FormGroup]="EditarForm" (ngSubmit)="postForm(EditarForm.value)">
            <div class="form-group">
                <label for="exampleFormControlInput1">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre de la tarea" formControlName="nombre">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Descripcion</label>
                <input type="text" class="form-control" placeholder="Descripcion de la tarea" formControlName="descripcion">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Jornada</label>
                <input type="text" class="form-control" placeholder="Jornada de la tarea" formControlName="jornada">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          <!--  <button type="buttom" class="btn btn-danger" (click)="Eliminar()">Eliminar</button> -->
            <button type="buttom" class="btn btn-dark" (click)="Salir()">Salir</button>
        </form>
    </div>
<app-footer></app-footer>
