<div class="container-login">
  <div class="row">
      <div class="card">
        <form class="box form-login"  id="formRegister"  (ngSubmit)="registercustomer()">
          <h1>Registrarse</h1>
          <p class="text-muted"> Por favor ingrese todos los datos ya que son obligatorios!</p>
          <input type="text" name="" placeholder="Nombre completo">
          <input type="text" name="" placeholder="Tipo de documento">
          <input type="number" name="" placeholder="Cedula">
          <select id="document" name="">
            <option type="text text-muted" value="CC">Cedula de ciudadania</option>
            <option type="text text-muted" value="CE">Cedula de Extranjeria</option>
          </select>
          <input type="number" name="" placeholder="Phone">
          <input type="text" name="" placeholder="Correo">
          <input type="password" name="" placeholder="Contraseña">
          <input type="submit" form="formRegister" name="" value="Register" >
          <br>
        </form>
      </div>
  </div>
</div>

