<div class="container mt-3" >
  <form class="row" [formGroup]="frmFormulario">

    <div class="mb-3">
      <input type="text" placeholder="Título" formControlName="title" name="title"/>
    </div>
    <div class="mb-3">
      <input type="text" placeholder="Descripción" formControlName="description" name="description"/>
    </div>
    <div class="mb-3">
      <input type="text" placeholder="Responsable" formControlName="responsible" name="responsible"/>
    </div>
    <div class="mb-3">
      <input type="text" placeholder="Nombre Calendario" formControlName="nameCalendar" name="nameCalendar"/>
    </div>
    <div class="mb-3">
      <input type="number" placeholder="Día" formControlName="numberDay" name="numberDay"/>
    </div>
    <div>
      <button class="btn btn-primary" type="button" (click)="saveTodoList()">Crear tarea</button>
    </div>
    <div>
      <button class="btn btn-danger" type="button" [routerLink]="lista">Salir</button>
    </div>
  </form>
</div>


