<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-2 text-center">
        <div class="row">
          <div class="col-md-7 border-right no-gutters">
            <div class="py-3">
              <img
                src="https://i.imgur.com/hczKIze.jpg"
                width="100"
                class="rounded-circle" />
              <h4 class="text-secondary">Felipe Cabrales</h4>
              <div class="allergy"><span>Ing. Sistemas</span></div>
              <div class="stats">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex flex-column">
                          <span class="text-left head">Full Name</span>
                          <span class="text-left bottom"
                            >Felipe Angarita Cabrales</span
                          >
                        </div>
                      </td>
                      <td>
                        <div class="d-flex flex-column">
                          <span class="text-left head">Mobile Phone</span>
                          <span class="text-left bottom">65165465</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="d-flex flex-column">
                          <span class="text-left head">E-mail</span>
                          <span class="text-left bottom">felipe@sofka.com</span>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex flex-column">
                          <span class="text-left head">Document</span>
                          <span class="text-left bottom">10428569744</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="px-3">
                <button
                  style="margin: 10px"
                  type="button"
                  class="btn btn-primary btn-block">
                  guardar cambios
                </button>
                <buttons
                  tyle="margin: 10px"
                  type="button"
                  class="btn btn-secondary"
                  [routerLink]="['../']">
                  home
                </buttons>
                <button
                  style="margin: 10px"
                  type="button"
                  class="btn btn-secondary"
                  [routerLink]="['../deposit']">
                  Depositos
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="py-3">
              <div>
                <span class="d-block head">State Account</span>
                <span class="bottom">true /false</span>
              </div>
              <div class="mt-4">
                <span class="d-block head">Type of Account</span>
                <span class="bottom">Ahorros / corriente</span>
              </div>
              <div class="mt-4">
                <span class="d-block head">Id Account</span>
                <span class="bottom">154256975323</span>
              </div>
              <div class="mt-4">
                <span class="d-block head">Balance</span>
                <span class="bottom">0</span>
              </div>
              <div class="mt-4">
                <span class="d-block head">Password</span>
                <span class="bottom">dg8r52sdftr59ed6e</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
