<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>documentTypeId</th>
            <th>document</th>
            <th>fullName</th>
            <th>email</th>
            <th>phone</th>
            <th>password</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let users of users" class="table">
            <td>{{ users.documentType.id }}</td>
            <td>{{ users.document }}</td>
            <td>{{ users.fullName }}</td>
            <td>{{ users.email }}</td>
            <td>{{ users.phone }}</td>
            <td>{{ users.password }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <body></body>
<div class="div-table">
  <div class="trow">
    <div class="tcolumn tcolumn1">USER</div>
    <div class="tcolumn tcolumn2">documentTypeId</div>
    <div class="tcolumn tcolumn3">document</div>
    <div class="tcolumn tcolumn4">fullName</div>
    <div class="tcolumn tcolumn5">email</div>
    <div class="tcolumn tcolumn6">phone</div>
    <div class="tcolumn tcolumn6">password</div>
  </div>
  <tbody>
    <div class="trow">
      <div class="tcolumn"></div>
      <div class="tcolumn"></div>
      <div class="tcolumn"></div>
      <div class="tcolumn"></div>
      <div class="tcolumn"></div>
      <div class="tcolumn"></div>
      <div class="tcolumn"></div>
    </div>
  </tbody>
</div>
<div class="px-3">
  <button style="margin: 10px" type="button" class="btn btn-primary btn-block">
    guardar cambios
  </button>
  <buttons
    tyle="margin: 10px"
    type="button"
    class="btn btn-secondary"
    [routerLink]="['../']">
    home
  </buttons>
  <button
    style="margin: 10px"
    type="button"
    class="btn btn-secondary"
    [routerLink]="['../deposit']">
    Depositos
  </button>
</div> -->
