body{background-color: #e5eaee}.card{background-color: rgb(232, 227, 227);
    border: none;border-radius: 5px;
    box-shadow: 5px 6px 6px 2px #067df3}.allergy{position: relative;
        bottom: 8px;color: rgb(16, 1, 1)}.head{color: #0a368e;
            font-size: 12px}.bottom{color: rgb(137, 57, 57);font-size: 14px}