<div class="container">
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Day</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Title </label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Description </label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Responsible </label>
    </div>
    <div class="form-floating">
        <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
        <option selected>Priority </option>
        <option value="1">High</option>
        <option value="2">Medium</option>
        <option value="3">Low</option>
        </select>
        <label for="floatingSelect">Select priority</label>
    </div>
</div>