<h1 class="text-center">
    Crear tarea
  </h1>
<form class="row g-3" [formGroup]="tareaForm">
    <div class="form-floating mb-3">
        <input type="number" aria-label="First name" class="form-control" formControlName="dia">
        <label for="floatingTextarea">Dia</label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="title"></textarea>
        <label for="floatingTextarea">Titulo </label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="description"></textarea>
        <label for="floatingTextarea">Descripcion </label>
    </div>
    <div class="form-floating mb-3">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="responsible"></textarea>
        <label for="floatingTextarea">Responsable </label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" aria-label="Floating label select example" formControlName="priority">
        
        <option value="Alta">Alta</option>
        <option value="Media">Media</option>
        <option value="Baja">Baja</option>
        </select>
        <label for="floatingSelect">Seleccione la prioridad</label>
    </div>
    <div class="form-floating mb-3">
        <select class="form-select" aria-label="Floating label select example" formControlName="isCompleted">
        
        <option value=false>Pendiente</option>
        <option value=true>Completada</option>
        </select>
        <label for="floatingSelect">Seleccione el estado de la tarea</label>
    </div>
    <div class="col-12">
        <button class="btn btn-primary" type="submit" (click)="crear()">Submit form</button>
    </div>
</form>