<table class="table">
    <thead>
      <tr>
        <th scope="col">Dia</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Responsable</th>
        <th scope="col">Prioridad</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarea of tareas">
        <th scope="row">{{tarea.dia}}</th>
        <td>{{tarea.title | titlecase}}</td>
        <td>{{tarea.description | titlecase}}</td>
        <td>{{tarea.responsible | titlecase}}</td>
        <td>{{tarea.priority}}</td>
        <td>{{tarea.isCompleted | estado}}</td>
      </tr>
    </tbody>
  </table>