.nav-header {
    margin:10px;
}

.container_nav-header {
    justify-content: space-between;
    text-align: center;
    display: flex;
    background-color: rgb(40, 40, 40);
}
.btn-nav-header{
    margin-left: 10px;
    margin-right: 10px;
}
.nav-header-tittle{
    color: aliceblue;
}