<form id="registrar" (ngSubmit)="senData()">
  <div class="wrapper rounded bg-white">
    <div class="h3">Registration Form</div>

    <div class="form">
      <div class="row">
        <label>Full name</label>
        <div>
          <input
            type="Nombre"
            placeholder=""
            [(ngModel)]="fullName"
            name="nombre" />
        </div>
      </div>
      <div class="row">
        <label>E-mail</label>
        <div>
          <input
            type="E-mail"
            placeholder=""
            [(ngModel)]="email"
            name="E-mail" />
        </div>
      </div>
      <div class="row">
        <label>Document Number</label>
        <div>
          <input
            type="DocumenteNumber"
            placeholder=""
            [(ngModel)]="document"
            name="DocumenteNumber" />
        </div>
      </div>
      <div class="row">
        <label>Documente Type Id</label>
        <div>
          <input
            type="DocumenteTypeId"
            placeholder=""
            [(ngModel)]="documentTypeId"
            name="nombre" />
        </div>
      </div>
      <div class="row">
        <label>Phone number</label>
        <div>
          <input
            type="phonrNumber"
            placeholder=""
            [(ngModel)]="phone"
            name="phonrNumber" />
        </div>
      </div>
      <div class="row">
        <label>Password</label>
        <div>
          <input
            type="password"
            placeholder=""
            [(ngModel)]="password"
            name="password" />
        </div>
      </div>
      <div class="my-md-2 my-3">
        <button
          type="button"
          class="btn btn-secondary"
          [routerLink]="routrHome">
          home
        </button>
        <button type="button" class="btn btn-secondary" (click)="senData()">
          registrar
        </button>
        <input class="btn btn-secondary" type="reset" value="Borrar" />
      </div>
    </div>
    {{ fullName }}
    {{ email }}
    {{ document }}
    {{ documentTypeId }}
    {{ phone }}
    {{ password }}
  </div>
</form>
