<div class="container-register">
    <div class="form-register">
        <input class="input-register" placeholder="Documento" type="number">
        <input class="input-register" placeholder="Nombre Completo">
        <input class="input-register" placeholder="Email" type="email">
        <input class="input-register" placeholder="password" type="password">
        <input class="input-register" placeholder="Telefono" type="number">
        <button class="btn-register">Registrarse</button>
    </div>
</div>
