<app-header></app-header>
<div class="container">
    <h3>Lista de Item</h3>
    <table class="table table-bordered table-dark">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Responsible</th>
            <th scope="col">IsCompleted</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items" (click)="editarItem(item.itemId)">
            <th scope = "row">{{item.title}}</th>
            <td>{{item.description}}</td>
            <td>{{item.responsible}}</td>
            <td>{{item.isCompleted}}</td>
          </tr>
        </tbody>
    </table>
    <buttom type="button" class="btn btn-danger" (click)="logout()">Salir</buttom>
    <button type="buttom" class="btn btn-primary" (click)="nuevoItem()">Nueva tarea</button>
</div>
<app-footer></app-footer>
