<div class="container-header-after-login">
  <nav class="nav-header-after-login">
    <button
      type="button"
      class="btn btn-primary btn-header-after-login"
      (click)="goToHomeuser()"
    >
      Home
    </button>
    <button
      type="button"
      class="btn btn-primary btn-header-after-login"
      [routerLink]="routeInfoCustomer"
    >
      Customer
    </button>
    <button
      type="button"
      class="btn btn-secondary btn-header-after-login"
      [routerLink]="routeAccount"
    >
      Account
    </button>
    <button
      type="button"
      class="btn btn-success btn-header-after-login"
      [routerLink]="routeInfoDeposit"
    >
      Deposit
    </button>
    <button
      type="button"
      class="btn btn-danger btn-header-after-login"
      [routerLink]="routeInfoTransfer"
    >
      Transfer
    </button>
  </nav>
</div>
