.container-header-after-login{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    width: 1hv;
    margin-top: 2%;
    justify-content: center;
    flex-direction: row;
}
.btn-header-after-login{
    margin-left: 2px;
    margin-right: 2px;
}
.nav-header-after-login{
    display: flex;
}