<div class="">
  <div class="box">
    <p class="h-dash text-light">Tus cuentas</p>
    <div class="container-account">
      <account-balance class="d-flex flex-wrap"></account-balance>
    </div>
    <br />
    <p class="fst-italic textmuted text-white">Un banco para ti</p>
    <br />
    <div>
      <div class="box2 mt-3">
        <div class="d-flex mt-2">
          <div class="w-100 border-bottom">
            <p class="">Manejar mi cuenta</p>
            <p class="textmuted mb-2">Accede y actualiza tu cuenta</p>
          </div>
        </div>
        <br />
        <div class="d-flex mt-2">
          <div class="w-100 border-bottom">
            <p class="">Ver historial de transacciones</p>
            <p class="textmuted mb-2">ver movimientos de la cuenta</p>
          </div>
        </div>
        <br />
        <div class="d-flex mt-2">
          <div class="w-100 border-bottom">
            <p class="">Hacer transferencia</p>
            <p class="textmuted mb-2">Crea nuevas transferencias</p>
          </div>
        </div>
        <br />
        <div class="d-flex mt-2">
          <div class="w-100 border-bottom">
            <p class="">Desactivar cuenta</p>
            <p class="textmuted mb-2">Desactiva tu cuenta temporalmente</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
