<header>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Tus cuentas</h1>
    <p class="fs-5 text-muted">AliBank</p>
  </div>
</header>

<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  data-bs-whatever="@mdo">
  crea tu cuenta</button
><br />
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#transferHModal"
  data-bs-whatever="@mdo">
  historial
</button>
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nueva Cuenta</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-1">
            <label for="recipient-name" class="col-form-label"
              >Elige el tipo de cuenta:</label
            ><sofka-create-accounts></sofka-create-accounts>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label"
              >Gracias por usar AliBank</label
            >
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<main>
  <div
    id="account"
    class="row row-cols-1 row-cols-md-3 mb-3 text-center"
    *ngFor="let account of accounts">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">
            {{ account.accountType.name | titlecase }}
          </h4>
          <h4 class="my-0 fw-normal">{{ account.id }}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            {{ account.balance | currency }}
            <small class="text-muted fw-light">USD</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>0 costo de manejo</li>
            <li>1.9% de interes</li>
          </ul>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#transferModal"
            data-bs-whatever="@mdo"
            class="w-100 btn btn-lg btn-primary"
            (click)="obtenerOutcome(account.id)">
            Transfiere tu dinero
          </button>

          <div
            class="modal fade"
            id="transferModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Tranferencias
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-1">
                      <label for="recipient-name" class="col-form-label"></label
                      ><sofka-transfers [outcome]="account.id">
                      </sofka-transfers>
                      <h4 class="my-0 fw-normal"></h4>
                    </div>
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label"
                        >Gracias por usar AliBank</label
                      >
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div
            class="modal fade"
            id="transferHModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Historial Tranferencias
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-1">
                      <label for="recipient-name" class="col-form-label"></label
                      ><sofka-transfers-history> </sofka-transfers-history>
                      <h4 class="my-0 fw-normal"></h4>
                    </div>
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label"
                        >Gracias por usar AliBank</label
                      >
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
