<div class="div p-3">
  <nav class="navbar bg-body-tertiary fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class=" dropdown">
        <a class="navbar-brand dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/59/User-avatar.svg" alt="Logo" height="24"
            class="d-inline-block align-text-top" data-aos="zoom-out">
          Customer
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="signout" (click)="signOut()">Signout</a></li>
          <li><a class="dropdown-item" [routerLink]="customerDetail">Profile</a></li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item" data-aos="flip-down" data-aos-duration="1000">
              <a class="nav-link active" aria-current="page" [routerLink]="home">Home</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link dropdown-toggle" [routerLink]="accounts" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Accounts</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="accounts">Accounts</a></li>
                  <li><a class="dropdown-item" [routerLink]="newAccount">Create</a></li>
                  <li><a class="dropdown-item" [routerLink]="deleteAccount">Delete</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link dropdown-toggle" [routerLink]="deposits" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Deposits</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="newDeposit">Create</a></li>
                  <li><a class="dropdown-item" [routerLink]="deposits">Deposits</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link dropdown-toggle" [routerLink]="transfers" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">Transfers</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="newTransfer">Create</a></li>
                  <li><a class="dropdown-item" [routerLink]="transfers">Transfers</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container mt-5">
  <router-outlet></router-outlet>
</div>