<div class="row m-4">
  <div class="alert alert-info" role="alert">
    <h5 class="text-primary">
      ¡Hola! Aquí puedes hacer lo siguiente:
      <a class="btn btn-lg btn-outline-primary shadow-sm ms-4" [routerLink]="routeAdd">
        Agregar una tarea
      </a>
    </h5>
  </div>
</div>
<div class="col m-5 mt-0">
  <h2 class="mb-4">Listado de tareas</h2>
  <div class="container text-center"></div>
  <div class="row">
    <div *ngFor="let day of calendarToDo" class="col-3 mb-3">
      <div class="card border border-1 border-success">
        <div class="card-body">
          <h5 class="card-title">Día: {{day.indexDay}} </h5>
          <h6 class="card-subtitle mb-2 text-muted">Tareas</h6>
          <ul *ngFor="let item of day.toDoItems" class="list-group list-group-flush">
            <li class="list-group-item">
              {{item.title}}
              <div class="float-end">
                <a class="btn btn-sm btn-success bg-success bg-opacity-75 me-2 text-light" [routerLink]="">
                  <i class="bi bi-check-lg"></i>
                </a>
                <a class="btn btn-sm btn-info bg-info bg-opacity-75 me-2 text-light"
                  [routerLink]="['detail', item.itemId]">
                  <i class="bi bi-eye-fill"></i>
                </a>
                <a class="btn btn-sm btn-warning bg-warning bg-opacity-75 me-2 text-light" [routerLink]="routeEdit">
                  <i class="bi bi-pencil-fill"></i>
                </a>
                <a class="btn btn-sm btn-danger bg-danger bg-opacity-75 text-light" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  <i class="bi bi-trash-fill"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark bg-gradient text-light">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de eliminar?</h1>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark bg-gradient text-light">
        TítuloExample
      </div>
      <div class="modal-footer bg-dark bg-gradient text-light">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>