<div class="row m-4">
  <div class="alert alert-info" role="alert">
    <h5 class="text-primary">
      ¡Hola! Aquí puedes hacer lo siguiente:
      <a class="btn btn-lg btn-outline-primary shadow ms-4" [routerLink]="routeAdd">
        Agregar una tarea
      </a>
    </h5>
  </div>
</div>
<div class="col m-5 mt-0">
  <h2 class="mb-4">Listado de tareas</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <caption>
        Listado de tareas
      </caption>
      <thead>
        <tr>
          <th scope="col">Day</th>
          <th scope="col">Título</th>
          <th scope="col">Completada</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="table-group-divider ">
        <tr *ngIf="empty;else datos" class="text-center">
          <th colspan=" 4">No hay elementos para mostrar</th>
        </tr>
        <ng-template #datos>
          <tr *ngFor="let item of calendarToDo.listItems">
            <th scope="row">{{item.indexDay}}</th>
            <td>{{item.title | lowercase}}</td>
            <td>{{item.isCompleted | valueBooleanToString}}</td>
            <td>
              <a class="btn btn-sm btn-info bg-info bg-opacity-75 me-2 text-light shadow"
                [routerLink]="['detail', item.itemId]">
                <i class="bi bi-eye-fill"></i>
              </a>
              <a class="btn btn-sm btn-warning bg-warning bg-opacity-75 me-2 text-light shadow"
                [routerLink]="['edit', item.itemId]">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <a class="btn btn-sm btn-danger bg-danger bg-opacity-75 text-light shadow" data-bs-toggle="modal"
                data-bs-target="#modal-delete" (click)="modal(item.itemId, item.title)">
                <i class="bi bi-trash-fill"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal Delete -->
<div class="modal fade" id="modal-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h1 class="modal-title fs-5" id="delModalLabel">¿Estás seguro de eliminar esta tarea?</h1>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-dark text-light">
        <strong>{{title}}</strong>
      </div>
      <div class="modal-footer bg-dark text-light">
        <a type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</a>
        <a type="button" class="btn btn-danger" (click)="deleteItem(taskId)" data-bs-dismiss="modal">Eliminar</a>
      </div>
    </div>
  </div>
</div>