<h2>My pipes</h2>
<h3>Pipes from Angular</h3>
<p>{{birthday}} ====> {{birthday | date}}</p>
<p>{{fullName}} ====> {{fullName | uppercase}}</p>
<p>{{career}} ====> {{career | lowercase}}</p>
<p>{{salary}} ====> {{salary | currency: 'COP'}}</p>
<p>{{height}} ====> {{height | number: '1.2-2'}}</p>
<p>{{careerPercentage}} ====> {{careerPercentage | percent}}</p>
<hr>
<h3>Custom pipes</h3>
<p>{{yearBorn}}  ====> {{yearBorn | datePipe}}</p>
<p>{{cardNumber}}  ====> {{cardNumber | cardNumberPipe}}</p>
<p>{{fullName}} ====> {{fullName | invertNames}}</p>
