.container-header-info-customer{
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
.btn-header-info-customer{
    margin-left: 2px;
    margin-right: 2px;
}