<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form id="register" (ngSubmit)="registercustomer()" [formGroup]="frmFormulario">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">Sign in with</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-linkedin-in"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Or</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" formControlNamel="email" name="email"/>
            <label class="form-label" for="form3Example3">Email address</label>
          </div>
          <div class="altoMensaje"
          *ngIf="
            frmFormulario.get('email')?.hasError('email') &&
            frmFormulario.get('email')?.touched
          ">
          El correo que ingresaste no es válido
          </div>
          <div class="altoMensaje"
                  *ngIf="
                    frmRegister.get('email')?.hasError('required') &&
                    frmRegister.get('email')?.touched
                  ">
                  El email es requerido
          </div>
          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter password"  formControlNamel="password" name="password" />
            <label class="form-label" for="form3Example4">Password</label>
          </div>
          <div class="altoMensaje"
          *ngIf="frmFormulario.get('password')?.hasError('required') &&frmFormulario.get('password')?.touched">
          debes ingresar una contraseña
          </div>
          <!-- documento input -->
          <div class="form-outline mb-4">
            <input type="text" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid document" formControlNamel="document" name="document" />
            <label class="form-label" for="form3Example3">Documento</label>
          </div>
          <div class="altoMensaje"
          *ngIf="frmFormulario.get('document')?.hasError('required') &&frmFormulario.get('document')?.touched">
          Debes ingresar un documento
          </div>
          <!-- fullname input -->
          <div class="form-outline mb-3">
            <input type="string" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter your fullname" formControlNamel="fullName" name="fullName" />
            <label class="form-label" for="form3Example4">fullname</label>
          </div>
          <div class="altoMensaje"
          *ngIf="
            frmFormulario.get('fullName')?.hasError('required') &&
            frmFormulario.get('fullName')?.touched
          ">
          Debes ingresar un nombre
          </div>
          <!-- phone input -->
          <div class="form-outline mb-4">
            <input type="text" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter a valid phone"  formControlNamel="phone" name="phone"/>
            <label class="form-label" for="form3Example3">number phone</label>
          </div>
          <div class="altoMensaje"
          *ngIf="
            frmFormulario.get('phone')?.hasError('required') &&
            frmFormulario.get('phone')?.touched
          ">
          Debes ingresar un telefono
          </div>
          <!-- photo input -->
          <div class="form-outline mb-3">
            <input type="url" id="form3Example4" class="form-control form-control-lg"
              placeholder="Enter url photo" />
            <label class="form-label" for="form3Example4">Photo</label>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter documentTypeId"  formControlNamel="documentTypeId" name="documentTypeId"/>
            <label class="form-label" for="form3Example3">documentTypeId</label>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>

          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <input type="submit" form="register" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Register">
          </div>

        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>

