<div class="d-flex m-2" *ngFor="let account of accounts; let i = index">
  <div class="card p-3" (click)="seleccionar(account.id)">
    <div class="d-flex flex-row justify-content-between text-align-center">
      <i class="fas fa-ellipsis-v"></i>
    </div>
    <p class="text-dark d-flex justify-content-between">
      {{ account.accountType.name }}
      <span
        class="text-success fs-6 m-0 p-0"
        [ngClass]="{
          'text-success': account.selected,
          'text-white': !account.selected
        }"
        >✔</span
      >
    </p>

    <p class="text-dark">{{ account.id }}</p>
    <div class="card-bottom pt-3 px-3 mb-2">
      <div class="d-flex flex-row justify-content-between text-align-center">
        <div class="d-flex flex-column">
          <span>Balance de la cuenta</span>
          <p>
            <span class="text-white">{{ account.balance | currency }}</span>
            <account-actions
              [id]="account.id"
              [length]="i + 1"
            ></account-actions>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
