<h1>{{ opciones | uppercase }}</h1>
<hr>
<ul class="list-group">

    <li [routerLink]="routeTraer" class="list-group-item">
      <button type="button" class="btn btn-primary">Traer tarea</button>
    </li>
    <li [routerLink]="routeCrear" class="list-group-item">
      <button type="button" class="btn btn-secondary">Crear tarea</button>
    </li>
    <li [routerLink]="routeActualizar" class="list-group-item">
      <button type="button" class="btn btn-success">Actualizar tarea</button>
    </li>
    <li [routerLink]="routeEliminar" class="list-group-item">
      <button type="button" class="btn btn-danger">Eliminar tarea</button>
    </li>
    <div><button type="button" (click)="logout()">Cerrar Sesión</button></div>
</ul>







