<h1 class="text-center">
  Eliminar tarea

</h1>
<form id="eliminarTareas"
[formGroup]="frmFormulario" class="row g-3">

<div class="form-floating mb-3">
  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName ="id" name="id"></textarea>
  <label for="floatingTextarea">id </label>
  <p class="text-danger" *ngIf="frmFormulario.get('id')?.hasError('required') &&
  frmFormulario.get('id')?.touched">El id es requerido</p>
</div>

  <div class="col-12">
      <button class="btn btn-primary" type="button" (click)="eliminarTarea(frmFormulario.value.id)" form = "eliminarTarea">Submit form</button>
  </div>
  <input type="button" onclick="history.back()" name="volver atrás" value="volver atrás">
  </form>

