<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>phone: </span>{{hero.phone | phone}}</div>
  <div><span>Date: </span>{{hero.date | date}}</div>
  <div><span>Datebirthday: </span>{{hero.datebirthday | date}}</div>
  <div><span>Local City: </span>{{hero.localcity | uppercase }}</div>
  <div><span>Nick: </span>{{hero.nick |  lowercase }}</div>
  <div><span>Coin: </span>{{hero.coin |   currency }}</div>
  <div><span>Stronger: </span>{{hero.stronger |   number }}</div>
  <div><span>Percentage: </span>{{hero.percentage |   percent }}</div>
  <div><span>ChangeMoney: </span>{{hero.ChangeMoney | changeMoney:'COP':'USD'}}</div>


  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
