<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Atras</a>
  </li>
</ul>

<button type="button" class="btn btn-primary" id="postTask"
routerLink="creartareas">crear</button>

<button type="button" class="btn btn-primary" id="postTask"
routerLink="traertareas">traer</button>

<button type="button" class="btn btn-primary" id="postTask"
routerLink="actualizartareas">actualizar</button>

<button type="button" class="btn btn-primary" id="postTask"
routerLink="eliminartareas">eliminar</button>

<div class="vr"></div>


