<header>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Tu informacion</h1>
    <p class="fs-3 text-muted">AliBank</p>
  </div>
</header>
<div class="container-home-customer">
  <div id="form" [formGroup]="formUser">
    <div class="chc-profile d-flex flex-column align-items-center">
      <div class="chc-profile-first d-flex align-items-center">
        <div class="chc-avatar rounded-circle mr-3"></div>
        <h4
          class="chc-name my-3 text-uppercase fw-bold text-dark"
          style="font-size: 1.3rem">
          {{ formUser.get('fullName')?.value | lowercase }}
        </h4>
      </div>
      <div class="chc-profile-second d-flex justify-content-between w-100">
        <div class="chc-info">
          <i class="material-icons prefix">perm_identity</i>
          <h5><strong>Nombre Completo</strong></h5>

          <input formControlName="fullName" />
        </div>
        <div class="chc-info">
          <i class="material-icons prefix">person_pin</i>
          <h5><strong>Documento</strong></h5>
          <input type="number" formControlName="document" />
        </div>
      </div>
      <div class="chc-profile-third d-flex justify-content-between w-100 mt-3">
        <div class="chc-info">
          <i class="material-icons prefix">email</i>
          <h5><strong>Email</strong></h5>
          <h6>
            <strong>{{ email }}</strong>
          </h6>
        </div>
        <div class="chc-info">
          <i class="material-icons prefix">phone</i>
          <h5><strong>Telefono</strong></h5>
          <input Type="number" formControlName="phone" />
        </div>
      </div>
      <div class="chc-profile-five mt-3">
        <button
          class="btn btn-primary chc-update custom-margin-right"
          (click)="updateUser()">
          Actualizar Datos
        </button>
        <button
          class="btn btn-primary chc-update"
          type="button"
          (click)="cambiarEstado()">
          Cambiar estado
        </button>
      </div>
    </div>
  </div>
</div>
