
<div class="container my-5" >
<div class="col-12">
  <div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h1 class="h1">¡Resgistrate!</h1>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Email Address"
            #userEmail
            required
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            #userPwd
            required
          />
        </div>
        <div class="form-group">
          <input
            type="button"
            class="btn btn-primary"
            value="Registrarse"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          />
        </div>
        <div class="form-group">
          <span class="or"><span class="or">Or</span></span>
        </div>
        <!-- Continue with Google -->
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="authService.GoogleAuth()">
            Continue with Google
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <span class="a">Already have an account?<span class="redirect" routerLink="">Log In</span></span>
      </div>
    </div>
  </div>
</div>
</div>



<div class="d-grid gap-2 col-3 mx-auto">

</div>
