.form-group{
  text-align: center;
  margin-bottom: 10px;
  margin-left: 35%;
  margin-right: 35%;

}

.h1{
  text-align: center;
  margin-top: 20%;
  margin-bottom: 3%;
}

.redirectToLogin{
  text-align: center;
}
