<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">

              <div class="card-body p-5 ">
                <h2 class="text-uppercase text-center mb-5">Crear una Cuenta</h2>
  
                <form id="usuarioForm" (ngSubmit)="registrar()" [formGroup]="usuarioForm">

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingUser" placeholder="Usuario">
                    <label for="floatingInput">Usuario</label>
                  </div>

                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="correo">
                    <label for="floatingInput">Correo Electronico</label>
                  </div>
    
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="contrasenia">
                    <label for="floatingPassword">Contraseña</label>
                  </div>
  
                  <div class="d-flex justify-content-center">
                    <button
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" type="submit" form="usuarioForm" [disabled]="usuarioForm.invalid">Registrarse</button>
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">Ya tienes una cuenta? <a href="seguridad/login"
                      class="fw-bold text-body"><u>Ingresa Aqui</u></a></p>
  
                </form>
  
          </div>

        </div>
      </div>
    </div>
  </div>
</div>