
<div>

<button type="button" class="btn btn-success" [routerLink]="routerGetAllTask" id="btnShowTask">MOSTRAR TODAS MIS TAREAS</button>
<button type="button" class="btn btn-info"    [routerLink]="routerGetTaskById" id="btnShowTaskById" >MOSTRAR MIS TAREAS POR DÍA</button>
<button type="button" class="btn btn-secondary" [routerLink]="routerPostTask" id="btnCreateTask" >CREAR UNA TAREA NUEVA</button>
<button type="button" class="btn btn-info" [routerLink]="routerPuTaskComplete" id="btnCompletedTask">COMPLETAR MIS TAREAS</button>
<button type="button" class="btn btn-warning" [routerLink]="routerPutTask ">ACTUALIZAR MIS TAREAS</button>
<button type="button" class="btn btn-danger"  [routerLink]="routerDeleteTask">ELIMINAR MIS TAREAS</button>


</div>

