<button type="button" class="btn btn-success" [routerLink]="routerGetAllTask">MOSTRAR TODAS MIS TAREAS</button>
<button type="button" class="btn btn-success" [routerLink]="routerGetTaskById" >MOSTRAR MIS TAREAS POR DÍA</button>
<button type="button" class="btn btn-success" [routerLink]="routerPostTask" >CREAR UNA TAREA NUEVA</button>

<button type="button" class="btn btn-warning" [routerLink]="routerPuTaskComplete">COMPLETAR MIS TAREAS</button>
<button type="button" class="btn btn-warning" [routerLink]="routerPutTask ">ACTUALIZAR MIS TAREAS</button>
<button type="button" class="btn btn-danger" [routerLink]="routerDeleteTask">ELIMINAR MIS TAREAS</button>


