#btnShowTask{

  margin-left: 15rem;
  margin-top: 35rem;
  padding-top: 5rem;
  padding-block-end: 5rem;

}
#btnShowTaskById{

  margin-left: 5rem;
  margin-top: 35rem;
  padding-top: 5rem;
  padding-block-end: 5rem;

}


#btnCreateTask{

  background-color: navy;
  margin-left: 5rem;
  margin-top: 35rem;
  padding-top: 5rem;
  padding-block-end: 5rem;

}


#btnCompletedTask{

  background-color: maroon;
  margin-left: 5rem;
  margin-top: 35rem;
  padding-top: 5rem;
  padding-block-end: 5rem;
  color: white;


}

#btnPutAllTask{

  margin-left: 5rem;
  margin-top: 35rem;
  padding-top: 5rem;
  padding-block-end: 5rem;


}

#btnDeleteTask{

  margin-left: 5rem;
  margin-top: 35rem;
  padding-top: 5rem;
  padding-block-end: 5rem;


}

#containerButtons{

  margin: 10rem;
  align-items: center;

}
