
<div class="btn-group-vertical" role="group" aria-label="Vertical button group">

    <button type="button" [routerLink]="routerGetAllTask" id="btnC">
      MOSTRAR TODAS MIS TAREAS
  <p></p>
  <p></p>
  <p></p>
  <p></p>
    </button>

    <button type="button" class="btn btn-info" [routerLink]="routerGetTaskById" id="btnC" >
      MOSTRAR MIS TAREAS POR DÍA
  <p></p>
  <p></p>
  <p></p>
  <p></p>
    </button>

    <button type="button" class="btn btn-secondary" [routerLink]="routerPostTask" id="btnC" >
      CREAR UNA TAREA NUEVA
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </button>

    <button type="button" class="btn btn-info" [routerLink]="routerPuTaskComplete" id="btnC">
      COMPLETAR MIS TAREAS
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </button>

    <button type="button" class="btn btn-warning" [routerLink]="routerPutTask" id="btnC">
      ACTUALIZAR MIS TAREAS
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </button>

    <button type="button" class="btn btn-danger"  [routerLink]="routerDeleteTask" id="btnC">
      ELIMINAR MIS TAREAS
      <p></p>
      <p></p>
      <p></p>
      <p></p>
    </button>


  </div>










