<div calss="container">
  <div class="col-md-7">
    <div class="loginbox">
      <img src="https://i.imgur.com/ZYzTdD0.png" class="avatar" />
      <h1>Login Here</h1>
      <div class="space"></div>
      <form id="formularioLogin" 
      [formGroup]="frmFormularyLogin">
        <div>
          <input
            type="text"
            placeholder="Enter Name or Username"
            formControlName="userName"
            name="userName" />
            <div class= "mjs" *ngIf="frmFormularyLogin.get('userName')?.hasError('required') &&
            frmFormularyLogin.get('userName')?.touched ">
              Required field
            </div>
        </div>
        <div class="space"></div>
        <div>
          <input
            type="text"
            placeholder="Enter password"
            formControlName="password"
            name="password" />
            <div class= "mjs" *ngIf="frmFormularyLogin.get('password')?.hasError('required') &&
            frmFormularyLogin.get('password')?.touched">
              Required field
            </div>
            <div class="space"></div>
            <div class="invalidPass" *ngIf="frmFormularyLogin.get('password')?.hasError('pattern')">
             Invalid Password
            </div>
        </div>
        <div class="space"></div>
        <div class="row d-flex justify-content-center">
          <button (click)="sendDataFormulary()" [disabled]="frmFormularyLogin.invalid" class = "btn btnLogin">Login</button>
        </div>
        <div class="space"></div>
        <a href="forgot">Lost your password?</a><br />
        <a href="register">Don't have an account?</a>
      </form>
    </div>
    <div></div>
    <div></div>
  </div>
</div>
