body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  border: radius 35px;

}

.loginbox {
  width: 350px;
  height: 480px;
  background: rgb(228, 227, 232);
  color: #0b0b0b;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px)
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 24px
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 2px solid rgb(135, 209, 209);
  background: transparent;
  outline: none;
  height: 40px;
  color: #050505;
  font-size: 16px
}

.btnLogin{
  background-color: rgb(135, 209, 209);
  margin-left: 45px;
  margin-right: 45px ;
  width: 70%;
  border: #000000;
}

.mjs{
   color: #f02b2b;
   border-radius: 4px;
   margin-right: 40%;
   text-decoration: underline;
   
}


.invalidPass{
  color: #f02b2b;
   //background-color: #f02b2b;
   border-radius: 4px;
   margin-right: 40%;
   text-decoration: underline;
}
.space{
  height: 20px;
}

.loginbox a {
  text-decoration: none;
  font-size: 13px;
  line-height: 20px;
  color: rgb(119, 117, 117)
}


.loginbox a:hover {
  color: #000000
}
