<h1>Ingresa el id de la tarea que quieres actualizar</h1>
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput"></label>
</div>

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput"></label>
</div>

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput"></label>
</div>

<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput"></label>
</div>

<div class="form-floating">
  <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
    <option selected>Esta Completa tu tarea?</option>
    <option value="1">Si</option>
    <option value="2">No</option>
  </select>
  <label for="floatingSelect">Works with selects</label>
</div>



<button type="button" class="btn btn-success" [routerLink]="routergoBackMenu">VOLVER AL MENU PRINCIPAL</button>
<button type="button" class="btn btn-success" [routerLink]="">MOSTRAR TODAS MIS TAREAS</button>
