
  <div class="text-center">
    <form id="frmFormReactive" (ngSubmit)="cargarLista" [formGroup]="frmFormReactive"
      class="form-control mt-3 p-3 border-3 border-info text-start">
      <div class="mb-3 mt-2 row">
        <label for="Día" class="col-sm-2 col-form-label">Ingresa el id de la tarea que quieres modificar</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="id" formControlName="id" name="id">
              <div id="altoMensaje" *ngIf="frmFormReactive.get('id')?.hasError('required')
         && frmFormReactive.get('id')?.touched">Campo requerido, ingresar por favor</div>
          </div>
        </div>

      <hr>

      <div class="mb-3 row">
        <label for="Título" class="col-sm-2 col-form-label">Título</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Título" placeholder="Tarea importante"  formControlName="title"
            name="title" required>
            <div id="altoMensaje" *ngIf="frmFormReactive.get('title')?.hasError('required')
         && frmFormReactive.get('title')?.touched">Campo requerido, ingresar por favor</div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="Descripción" class="col-sm-2 col-form-label">Descripción</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" id="Descripción" placeholder=" Realizar un api con Angular"
          formControlName="descripccion" name="description" required></textarea>
          <div id="altoMensaje" *ngIf="frmFormReactive.get('descripccion')?.hasError('required')
          && frmFormReactive.get('descripccion')?.touched">Campo requerido, ingresar por favor</div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="Responsable" class="col-sm-2 col-form-label">Responsable</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Responsable" placeholder="Nombre"  formControlName="resposible"
            name="resposible" required>
            <div id="altoMensaje" *ngIf="frmFormReactive.get('resposible')?.hasError('required')
         && frmFormReactive.get('resposible')?.touched">Campo requerido, ingresar por favor</div>
        </div>
      </div>

      <div class="mb-3 row">
        <label for="CompletadaEditar" class="col-sm-2 col-form-label">Completada</label>
        <select class="form-control col ms-3 me-3 float-start" aria-label="Default select example"
          id="CompletadaEditar" formControlName="isCompleted" name="isCompleted">
          <option value="" selected>Seleccione...</option>
          <option value="true">Sí</option>
          <option value="false">No</option>
        </select>
        </div>

        <div class="alert alert-danger p-1 m-1 mt-1 ms-2 w-50" role="alert"
          *ngIf="frmFormReactive.get('isCompleted')?.hasError('required') && frmFormReactive.get('isCompleted')?.touched">
          Elige un valor
        </div>

        <div class="mb-3 mt-2 row">
          <label for="Día" class="col-sm-2 col-form-label">Ingresa en este campo si quieres cambiarlo de día</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="idCalendar" formControlName="idCalendar" name="idCalendar">
                <div id="altoMensaje" *ngIf="frmFormReactive.get('idCalendar')?.hasError('required')
           && frmFormReactive.get('idCalendar')?.touched">Campo requerido, ingresar por favor</div>
            </div>
          </div>

        <button type="button" [routerLink]="routergoBackMenu" id="goBackHome">VOLVER AL MENU PRINCIPAL</button>

      </form>
</div>
