
<h1>Pipe DatePipe</h1>
<p>The hero's birthday is {{ birthday | date }}</p>
<hr>
<h1>Pipe UpperCasePipe</h1>
<p>Todo en mayuscula {{ upper | uppercase }}</p>
<hr>
<h1>Pipe LowerCasePipe</h1>
<p>Todo en minuscula {{ lower | lowercase }}</p>
<hr>
<h1>Pipe CurrencyPipe</h1>
<p>Transforma un número a un formato de moneda {{valor | currency:'COP'}}</p>
<hr>
<h1>Pipe DecimalPipe</h1>
<p>Transforma un numero en una version de numero decimal con dos decimales {{numero | number:'1.2-2'}}</p>
<hr>
<h1>Pipe PercentPipe</h1>
<p>transforma un numero a formato de porcentaje {{porcentaje | percent}}</p>
