<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-2 text-center">
        <div class="row">
          <div class="col-md-7 border-right no-gutters">
            <div class="py-3">
              <img
                src="https://cdn-icons-png.flaticon.com/512/94/94392.png"
                width="100"
                class="rounded-circle" />
              <h4 class="text-secondary">User Name</h4>
              <div class="stats">
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex flex-column">
                          <span class="text-left head">Name</span>
                          <span class="text-left bottom">Juan Esteban</span>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex flex-column">
                          <span class="text-left head">Age</span>
                          <span class="text-left bottom">????</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <button type="button" class="btn btn-primary btn-block">
                  Save
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  [routerLink]="['../register']">
                  Return
                </button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  [routerLink]="['../deposit']">
                  Continue
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="py-3">
              <div>
                <span class="d-block head">Home Address</span>
                <span class="bottom">Direction/City/Country</span>
              </div>
              <div class="mt-4">
                <span class="d-block head">Phone 1</span>
                <span class="bottom">123-456-78-90</span>
              </div>
              <div class="mt-4">
                <span class="d-block head">Phone 2</span>
                <span class="bottom">098-765-43-21</span>
              </div>
              <div class="mt-4">
                <span class="d-block head">Email</span>
                <span class="bottom">user@email.com</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
