<div class="container col-12 col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-11 bg-primary shadow text-white bg-dark mt-3">
  <div class="row align-items-stretch">
    <div class="col mx-5">
      <div class="text-center pt-5 pb-3">
        <img src="../../../../../assets/login/images/s.png" width="128" alt="">
      </div>
      <form class="needs-validation" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" #signUpForm="ngForm">
        <div class="row">
          <div class="mb-2 col-12 col-sm-6">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email" placeholder="Email" formControlName="email" required>
          </div>
          <div class="mb-2 col-12 col-sm-6">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="Password" formControlName="password" required>
          </div>
        </div>
        <div class="mb-2">
          <label class="form-label" for="fullName">Fullname</label>
          <input class="form-control" type="name" name="fullName" id="fullName" placeholder="Fullname" formControlName="fullName" required>
        </div>
        <div class="row mb-3">
          <div class="mb-2 col-12 col-sm-5">
            <label class="form-label" for="phone">Phone</label>
            <input class="form-control" type="tel" name="phone" id="" placeholder="Phone" formControlName="phone" required>
          </div>
          <div class="mb-2 col-12 col-sm-7">
            <label class="form-label" for="document">Document</label>
            <div class="input-group">
              <div class="input-group-prepend bg-dark">
                <select class="btn btn-outline-light col-12 accordion-body h-100 rounded-0" id="" formControlName="documentTypeId" required>
                  <option value="CC">C.C</option>
                  <option value="CE">C.E</option>
                </select>
              </div>
              <input class="form-control" type="number" name="document" placeholder="Document" formControlName="document" required>
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label" for="avatar">Avatar</label>
            <input class="form-control" type="tel" name="avatarUrl" id="avatar" placeholder="Avatar URL" formControlName="avatarUrl">
          </div>
        </div>
        <div class="d-grid bg-dark rounded-3">
          <button class="btn btn-outline-light" type="submit">Signup</button>
        </div>
        <div class="my-1">
          <span>Have an account?
            <a [routerLink]="signIn">Signin</a>
          </span>
        </div>
      </form>
      <div class="container w-100 my-1">
        <div class="row text-center">
          <div class="col-12">Signup with</div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-outline-primary w-100 my-2">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="../../../../../assets/login/images/Facebook_icon.svg" alt="" width="32">
                </div>
                <div class="col-12 text-center col-md-10">
                  Facebook
                </div>
              </div>
            </button>
          </div>
          <div class="col">
            <button class="btn btn-outline-danger w-100 my-2">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="../../../../../assets/login/images/Google_icon.svg" alt="" width="32">
                </div>
                <div class="col-12 text-center col-md-10">
                  Google
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>