<div class="container col-12 col-xxl-7 col-xl-8 col-lg-9 col-md-10 col-sm-11 bg-primary shadow text-white bg-dark mt-3"
  data-aos="zoom-in" data-aos-duration="1000">
  <div class="row align-items-stretch" data-aos="zoom-in" data-aos-duration="1000">
    <div class="col mx-5">
      <div class="text-center p-4 pb-3">
        <img src="../../../../../assets/login/images/s.png" width="128" alt="">
      </div>
      <form class="needs-validation" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="mb-2 col-12 col-sm-6">
            <label class="form-label" for="email">Email</label>
            <input class="form-control {{handlerValidators('email')}}" type="email" name="email" id="email"
              placeholder="Email" formControlName="email" required>
            <div class="invalid-feedback">
              {{handlerMessage('email')}}
            </div>
          </div>
          <div class="mb-2 col-12 col-sm-6">
            <label class="form-label" for="password">Password</label>
            <input class="form-control {{handlerValidators('password')}}" type="password" name="password" id="password"
              placeholder="Password" formControlName="password" required>
            <div class="invalid-feedback">
              {{handlerMessage('password')}}
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label class="form-label" for="fullName">Fullname</label>
          <input class="form-control {{handlerValidators('fullName')}}" type="name" name="fullName" id="fullName"
            placeholder="Fullname" formControlName="fullName" required>
          <div class="invalid-feedback">
            {{handlerMessage('fullName')}}
          </div>
        </div>
        <div class="row mb-3">
          <div class="mb-2 col-12 col-sm-5">
            <label class="form-label" for="phone">Phone</label>
            <input class="form-control {{handlerValidators('phone')}}" type="tel" name="phone" id="phone"
              placeholder="Phone" formControlName="phone" required>
            <div class="invalid-feedback">
              {{handlerMessage('phone')}}
            </div>
          </div>
          <div class="mb-2 col-12 col-sm-7">
            <label class="form-label" for="document">Document</label>
            <div class="input-group">
              <div class="input-group-prepend bg-dark">
                <select
                  class="btn btn-outline-light col-12 accordion-body h-100 rounded-0 {{handlerValidators('documentTypeId')}}"
                  id="documentTypeId" formControlName="documentTypeId">
                  <option value="CC">C.C</option>
                  <option value="CE">C.E</option>
                </select>
                <div class="invalid-feedback col-1">
                  {{handlerMessage('documentTypeId')}}
                </div>
              </div>
              <input class="form-control {{handlerValidators('document')}}" type="text" name="document"
                placeholder="Document" formControlName="document" required>
              <div class="invalid-feedback">
                {{handlerMessage('document')}}
              </div>
            </div>
          </div>
          <div class="mb-2">
            <label class="form-label" for="avatar">Avatar</label>
            <input class="form-control" type="tel" name="avatarUrl" id="avatar" placeholder="Avatar URL"
              formControlName="avatarUrl">
          </div>
        </div>
        <div class="row bg-dark rounded-3">
          <div class="col-8">
            <button class="btn btn-outline-light w-100 my-1" type="submit">Signup</button>
          </div>
          <div class="col-4">
            <button class="btn btn-outline-danger w-100 my-1" type="button" (click)="clear()">Clear</button>
          </div>
        </div>
        <div class="my-1">
          <span>Have an account?
            <a [routerLink]="signIn">Signin</a>
          </span>
        </div>
      </form>
      <div class="container w-100 my-1">
        <div class="row text-center">
          <div class="col-12">Signup with</div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-outline-primary w-100 my-2">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="../../../../../assets/login/images/Facebook_icon.svg" alt="" width="32">
                </div>
                <div class="col-12 text-center col-md-10">
                  Facebook
                </div>
              </div>
            </button>
          </div>
          <div class="col">
            <button class="btn btn-outline-danger w-100 my-2" (click)="onGoogle()">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="../../../../../assets/login/images/Google_icon.svg" alt="" width="32">
                </div>
                <div class="col-12 text-center col-md-10">
                  Google
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>