
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.btn-icon {
  border: 1px solid #ccc;
  background-color: white;
  border-radius:4;
  letter-spacing: 1px
}

.btn-icon:hover {
  background-color: #52B4DB;
  color: #fff !important;
  border: 1px solid #ccc;
}
#form2Example3{

  color: white;

}
