<app-nav-info-customer></app-nav-info-customer>
<div class="container-info-customer">
    <p>{{fullName | customPipeData}} </p>
    <div class="container-form">
        <div class="sub-container">
            <h5> Nombre: </h5>
            <input disabled placeholder="{{fullName}}">
        </div>
        <div class="sub-container">
            <h5> Email: </h5>
            <input disabled placeholder="{{email}}">
        </div>
        <div class="sub-container">
            <h5> Telefono: </h5>
            <input disabled placeholder="{{phone}}">
        </div>
    </div>
</div>