<div class="container-info-customer">
    <h5>{{fullName | customPipeData}} </h5>
    <div class="container-form" *ngFor="let user of users">
        <div class="sub-container-image">
            <img>
        </div>
        <div class="sub-container">
            <h5> Nombre: </h5>
            <input class="sub-container-input" disabled placeholder="{{user.fullName}}">
        </div>
        <div class="sub-container">
            <h5> Email: </h5>
            <input class="sub-container-input" disabled placeholder="{{user.email}}">
        </div>
        <div class="sub-container">
            <h5> Telefono: </h5>
            <input class="sub-container-input" disabled placeholder="{{user.phone}}">
        </div>
    </div>
</div>