.container-info-customer{
    text-align: center;
    margin-top: 2%;
}
.container-form{
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;  
    margin: auto;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(34, 228, 34);
}
.sub-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 2px;
}
.sub-container-image{
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    width: 150px;
    height: 150px;
    background-color: black;
}
.sub-container-input{
    border-radius: 10px;
    background-color: white;
    color: black;
}