.container-info-customer{
    text-align: center;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
}
.container-form{
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 350px;  
    margin: auto;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sub-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 2px;
}
.sub-container-image{
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    width: 150px;
    height: 150px;
    background-color: rgb(207, 195, 195);
}
.sub-container-input{
    border-radius: 10px;
    background-color: white;
    color: black;
}