<!-- eslint-disable prettier/prettier -->
<div class="header">
  <sofka-header></sofka-header>
</div>
<div class="row m-3">
  <hr class="my-4"/>
  <button type="button" class="btn btn-secondary" [routerLink]="routePrincipal">
    Lista de tareas
  </button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Responsible</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{itemId.Id}}</th>
      <td>{{itemId.Title}}</td>
      <td>{{itemId.Description}}</td>
      <td>{{itemId.Responsible}}</td>
    </tr>
  </tbody>
</table>
</div>
<div class="footer">
  <sofka-footer></sofka-footer>
</div>
