<div class="row align-items-stretch" data-aos="zoom-in" data-aos-duration="500">
  <div class="col mx-5">
    <div class="pb-3">
      <span class="text-center">Complete the form</span>
    </div>

    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <select class="form-select {{handlerValidators('incomeAccountId')}}" formControlName="incomeAccountId"
        aria-label="Default select example">
        <option>{{incomeAccountId}}</option>
        <option *ngFor="let item of incomeAccounts">{{item.id}}</option>
      </select>
      <div class="invalid-feedback">
        {{handlerMessage('incomeAccountId')}}
      </div>
      <div class="mb-2 mt-4">
        <label class="form-label" for="amount">Amount</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <span class="input-group-text">0.00</span>
          <input type="number" class="form-control {{handlerValidators('amount')}}" formControlName="amount"
            name="amount" id="amount" placeholder="Amount" aria-label="Amount">
          <div class="invalid-feedback">
            {{handlerMessage('amount')}}
          </div>
        </div>
      </div>
      <div>
        <label class="form-label " for="reason">Reason</label>
        <textarea class="form-control {{handlerValidators('reason')}}" formControlName="reason" type="text" id="reason"
          name="reason" placeholder="Reason" aria-label="Reason" [(ngModel)]="reason" cols="30" rows="5"></textarea>
        <div class="invalid-feedback">
          {{handlerMessage('reason')}}
        </div>
      </div>
      <div class="d-grid bg-dark rounded-3 mt-4">
        <button class="btn btn-outline-light" type="submit">Create transfer</button>
      </div>
    </form>
  </div>
</div>