<header>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Deposita tu dinero</h1>
    <p class="fs-3 text-muted">AliBank</p>
  </div>
</header>
<div id="deposi" class="card shadow-sm center-content">
  <section class="get-in-touch">
    <form class="contact-form row">
      <div class="form-field col-lg-6">
        <input
          id="name"
          class="input-text js-input"
          type="text"
          required
          [(ngModel)]="formulario.accountId"
          name="accountId" />
        <label class="label" for="name">Id cuenta</label>
      </div>
      <br />

      <div class="form-field col-lg-6">
        <input
          id="company"
          class="input-text js-input"
          type="number"
          required
          [(ngModel)]="formulario.amount"
          name="amount" />
        <label class="label" for="company">dinero a enviar</label>
      </div>
      <div class="form-field col-lg-12">
        <input
          (click)="createDeposit()"
          class="submit-btn"
          type="submit"
          value="Enviar" />
      </div>
    </form>
  </section>
</div>