<form id="registrar">
  <div class="wrapper rounded bg-white">
    <div class="h3">Update Users</div>

    <div class="form">
      <div class="row">
        <label>Full name</label>
        <div>
          <input
            type="Nombre"
            placeholder=""
            formControlName="fullName"
            name="nombre" />
        </div>
      </div>
      <div class="row">
        <label>E-mail</label>
        <div>
          <input
            type="email"
            placeholder=""
            formControlName="email"
            name="email" />
        </div>
      </div>
      <div class="row">
        <label>Document Number</label>
        <div>
          <input
            type="DocumenteNumber"
            placeholder=""
            formControlName="document"
            name="DocumenteNumber" />
        </div>
      </div>
      <div class="row">
        <label>Documente Type Id</label>
        <div>
          <input
            type="DocumenteTypeId"
            placeholder=""
            formControlName="documentTypeId"
            name="DocumenteTypeId" />
        </div>
      </div>
      <div class="row">
        <label>Phone number</label>
        <div>
          <input
            type="phoneNumber"
            placeholder=""
            formControlName="phone"
            name="phoneNumber" />
        </div>
      </div>
      <div class="row">
        <label>Password</label>
        <div>
          <input
            type="password"
            placeholder=""
            formControlName="password"
            name="password" />
        </div>
      </div>
    </div>
  </div>
</form>
<div>&nbsp;</div>

<!-- modificando algunos datos de formulario -->
