<div class="container-transfer">
    <div class="subcontainer-transfer">
        <div class="group-transfer">
            <h5>Transferencia</h5>
            <p>ID: {{idTransfer}}</p>
            <p>Amount: {{amountTransfer}}</p>
            <p>Razon: {{reason}}</p>
        </div>
        <div class="group-transfer">
            <h5>Cuenta de Salida</h5>
            <p>ID: {{idOutcome}}</p>
            <p>Saldo: {{balanceOutcome}}</p>
            <p>Estado: {{stateOutcome}}</p>
        </div>
        <div class="group-transfer">
            <h5>Cuenta de entrada</h5>
            <p>ID:{{idIncome}}</p>
            <p>Saldo:{{balanceIncome}}</p>
            <p>Estado:{{stateIncome}}</p>
        </div>
    </div>
</div>