<div class="text-center">
  <form id="frmFormReactive" (ngSubmit)="cargarLista()" [formGroup]="frmFormReactive">
      <label for="Día" class="col-sm-2 col-form-label">Ingresa el id de la tarea</label>
        <div class="col-sm-10">
        <input type="number" formControlName="idCalendar" id="idCalendar"  name="idCalendar">
            <div id="altoMensaje" *ngIf="frmFormReactive.get('idCalendar')?.hasError('required')
       && frmFormReactive.get('idCalendar')?.touched">Campo requerido, ingresar por favor</div>
        </div>
      <div *ngFor="let data of routeShowTaskById">
            <h5 class="card-title">Titulo {{data.title}}</h5>
            <h6>Descripccion</h6>
            <h6>{{data.descripccion}}</h6>
            <label> Responsable: </label>
            <h6 class="card-title">{{data.resposible}}</h6>
            <label>Esta o no completada: </label>
            <h6 class="card-title">{{data.isCompleted}}</h6>
             <label>---------------------------</label>
          </div>
          <button type="submit" form="frmFormReactive">HIJUEPUTA</button>
        <button type="button" class="btn btn-primary" [routerLink]="routergoBackMenu" id="goBackHome">VOLVER AL MENU PRINCIPAL</button>
    </form>
</div>


