<!-- eslint-disable prettier/prettier -->
<div class="header">
  <sofka-header></sofka-header>
</div>
<div class="row m-3">
  <h1 class="display-4">Lista de tareas</h1>
  <hr class="my-4"/>
  <button type="button" class="btn btn-primary" [routerLink]="routeNewItem">
    Nuevo item
  </button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Responsible</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of todoList">
      <th scope="row">{{item.Id}}</th>
      <td>{{item.Title}}</td>
      <td>{{item.Description}}</td>
      <td>{{item.Responsible}}</td>
      <td class="view">
        <button type="button" class="btn btn-primary" routerLink="view-item/{{item.Id}}">
          Ver
        </button>
      </td>
      <td class="edit">
        <button type="button" class="btn btn-primary" routerLink="edit-item/{{item.Id}}">
          Editar
        </button>
      </td>
      <td class="delete">
        <button type="button" class="btn btn-primary" routerLink="delete-item/{{item.Id}}">
          Eliminar
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>

<div class="footer">
  <sofka-footer></sofka-footer>
</div>
