<h1 class="text-center">
    Crear tarea

    <div class="row">
      <div class="col-6" style="align-items: center;" >
          <form [formGroup]="frmFormulario" (ngSubmit)="crearTarea()">
            <div class="mb-3">
              <label for="title" class="form-label">Titulo</label>
              <input type="text" class="form-control" id="title" formControlName="title">
            </div>
            <div class="altoMensaje"*ngIf="frmFormulario.get('title')?.hasError('required')&&
            frmFormulario.get('name')?.touched
          ">
          El nombre es requerido
        </div>
            <div class="mb-3">
              <label for="Description" class="form-label">Description</label>
              <input type="text" class="form-control" id="Description" formControlName="description">
            </div>
            <div class="mb-3">
              <label for="Responsible" class="form-label">Responsible</label>
              <input type="text" class="form-control" id="Responsible" formControlName="responsible">
            </div>
            <div class="mb-3">
              <label for="Priority" class="form-label">Priority</label>
              <input type="text" class="form-control" id="Priority" formControlName="priority">
            </div>
            <div class="mb-3">
              <label for="IsComplete" class="form-label">IsComplete</label>
              <input type="number" class="form-control" id="IsComplete" formControlName="isComplete">
            </div>
            <button type="submit" class="btn btn-outline-success">crearTarea</button>
          </form>
      </div>
    </div>

