<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>Telefono: </span>{{ hero.phone | phone }}</div>
  <div><span>hace cuanto es heroe: </span>{{ hero.date | moment }}</div>
  <div><span>Estado: </span>{{ hero.state | state }}</div>
  <div><span>Fecha de nacimiento: </span>{{ hero.birthday | date }}</div>
  <div><span>Clasificación: </span>{{ hero.clasification | lowercase }}</div>
  <div><span>Sueldo: </span>{{ hero.payroll | currency  }}</div>
  <div><span>Batallas ganadas: </span>{{ hero.wins| number  }}</div>
  <div><span>Porcentaje de batallas ganadas: </span>{{ hero.percent| percent}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
