<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>phone: </span>{{hero.phone | phone }}</div>
  <div><span>lastfigth: </span>{{hero.lastfigth | relativeTime }}</div>
  <div><span>time: </span>{{hero.time | timeFormat }}</div>
  <div><span>birthday: </span>{{hero.birthday | date }}</div>
  <div><span>nivel: </span>{{hero.nivel | uppercase }}</div>
  <div><span>city: </span>{{hero.city | lowercase }}</div>
  <div><span>fortune: </span>{{hero.fortune | currency }}</div>
  <div><span>power: </span>{{hero.power | number }}</div>




  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
