<div class="text-center">
  <form id="frmFormReactive" (ngSubmit)="sendData()" [formGroup]="frmFormReactive"
    class="form-control mt-3 p-3 border-3 border-info text-start">

    <div class="mb-3 mt-2 row">
      <label for="Día" class="col-sm-2 col-form-label">id de la tarea</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="id" formControlName="id" name="id">
            <div id="altoMensaje" *ngIf="frmFormReactive.get('id')?.hasError('required')
       && frmFormReactive.get('id')?.touched">Campo requerido, ingresar por favor</div>
        </div>
      </div>

    <hr>
    <button type="submit" form="frmFormReactive" class="btn btn-primary btn-lg shadow-lg bottom-0 end-0 float-end w-auto">
      <i class="bi bi-folder-plus"> Eliminar</i>
</button>
    <button type="button" class="btn btn-primary" [routerLink]="routergoBackMenu" id="goBackHome"> AL MENU PRINCIPAL</button>
  </form>
</div>


<div *ngFor="let data of calendarWithTask" class="col-3 mb-3">
  <div class="card border border-1 border-success">
    <div class="card-body">
      <h5 class="card-title">Día: {{data.numberDaY}} </h5>
      <h6 class="card-subtitle mb-2 text-muted">Tareas:</h6>
      <ul *ngFor="let final of data.items">
      <p>Id de tarea:</p>
      <h6 class="card-title">{{final.id}}</h6>
      <p>Titulo de tarea:</p>
      <h6 class="card-title">{{final.title}}</h6>
      <label>Descripccion de la tarea: </label>
      <h6 class="card-title">{{final.descripccion}}</h6>
      <label>Responsable: </label>
      <h6 class="card-title">{{final.resposible}}</h6>
       <label>Estado: </label>
      <h6 class="card-title">{{final.isCompleted}}</h6>
       <label>---------------------------</label>
      </ul>
    </div>
  </div>
</div>

