<div class="text-center">
  <form id="frmFormReactive" (ngSubmit)="sendData()" [formGroup]="frmFormReactive"
    class="form-control mt-3 p-3 border-3 border-info text-start">

    <div class="mb-3 mt-2 row">
      <label for="Día" class="col-sm-2 col-form-label">id de la tarea</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="id" formControlName="id" name="id">
            <div id="altoMensaje" *ngIf="frmFormReactive.get('id')?.hasError('required')
       && frmFormReactive.get('id')?.touched">Campo requerido, ingresar por favor</div>
        </div>
      </div>

    <hr>
    <button type="submit" form="frmFormReactive" [disabled]="frmFormReactive.invalid" class="btn btn-primary btn-lg shadow-lg bottom-0 end-0 float-end w-auto">
      ELIMINAR TAREA</button>
    <button type="button" class="btn btn-primary" [routerLink]="routergoBackMenu" id="goBackHome"> AL MENU PRINCIPAL</button>
  </form>
</div>


<div *ngFor="let data of calendarWithTask" class="col-3 mb-3">
  <div class="card border border-1 border-success">
    <div class="card-body">
      <h5 class="card-title">Día: {{data.numberDaY}} </h5>
      <h6 class="card-subtitle mb-2 text-muted">Tareas:</h6>
      <ul *ngFor="let final of data.items">
        <p id="valorTitle">ID DE LA TAREA:</p>
        <h6 class="card-title" id="valorTask">{{final.id}}</h6>
        <br>
        <p id="valorTitle">TITULO DE LA TAREA:</p>
        <h6 class="card-title" id="valorTask">{{final.title |  lowercase}}</h6>
        <br>
        <label id="valorTitle">DESCRIPCION: </label>
        <h6 class="card-title" id="valorTask">{{final.descripccion |  lowercase}}</h6>
        <br>
        <label id="valorTitle">RESPONSABLE: </label>
        <h6 class="card-title" id="valorTask">{{final.resposible |  lowercase}}</h6>
        <br>
        <label id="valorTitle">ESTADO: </label>
        <h6 class="card-title" id="valorTask">{{final.isCompleted|refactorValues}}</h6>
        <br>
        <br>
      </ul>
    </div>
  </div>
</div>




