/*For font-awesome icons in Placeholder*/
.placeicon {
	font-family: fontawesome;
}

.custom-control-label::before {
	background-color: #dee2e6;
	border: #dee2e6;
}

.h2{
  margin-top: -160px;
  text-align: center;
  margin-bottom: 3%;
}

.form-group{
  text-align: center;
  margin-bottom: 10px;
  margin-left: 35%;
  margin-right: 35%;

}

.redirectToLogin{
  text-align: center;
}
