<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-hover table-bordered caption-top">
        <caption>Lista de Tareas</caption>
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Responsable</th>
            <th>Completado</th>
            <th>Acciones</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let tarea of tareas">
              <td>{{ tarea.title | uppercase}}</td>
              <td>{{ tarea.description | lowercase}}</td>
              <td>{{ tarea.responsible | titlecase}}</td>
              <td>{{ tarea.isCompleted }}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <button type="button" class="btn btn-info btn-sm" [routerLink]="detalles">Ver</button>

                  <button type="button" class="btn btn-warning btn-sm" [routerLink]="['editar', tarea.id]">Editar</button>

                  <button type="button" class="btn btn-danger btn-sm" [routerLink]="eliminar">Eliminar</button>
                </div>
              </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  <a class="btn btn-success shadow-sm ms-4" [routerLink]="agregar">
    Agregar Tarea
  </a>
  <a class="btn btn-danger shadow-sm ms-4" [routerLink]="salir">
    Salir
  </a>
</div>





