<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-hover table-bordered caption-top">
        <caption>Lista de Tareas</caption>
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Responsable</th>
            <th>Completado</th>
            <th>Acciones</th>
          </tr>
        </thead>
          <tbody>
            <tr *ngFor="let tarea of tareas">
              <td>{{ tarea.title | uppercase}}</td>
              <td>{{ tarea.description | lowercase}}</td>
              <td>{{ tarea.responsible | titlecase}}</td>
              <td>{{ tarea.isCompleted }}</td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <button type="button" class="btn btn-info btn-sm" [routerLink]="['detalles', tarea.id]">Ver</button>

                  <button type="button" class="btn btn-warning btn-sm" [routerLink]="['editar', tarea.id]">Editar</button>

                  <button type="button" class="btn btn-danger btn-sm" [routerLink]="['eliminar', tarea.id]">Eliminar</button>
                </div>
              </td>
              <!-- <sofka-detail-todolist [tarea]="tarea"></sofka-detail-todolist> -->
            </tr>
          </tbody>
      </table>
    </div>
  </div>
  <a class="btn btn-success shadow-sm ms-4" [routerLink]="agregar">
    Agregar Tarea
  </a>
  <a class="btn btn-danger shadow-sm ms-4" [routerLink]="salir">
    Salir
  </a>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar la Tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Está seguro de eliminar la tarea?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Confirmar</button>
      </div>
    </div>
  </div>
</div>




