<div class="row m-3 ">
  <div class="col col-lg-1">
    <a class="btn btn-primary btn-lg shadow-lg" [routerLink]="routeDashboard">
      <i class="bi bi-arrow-left"></i>
    </a>
  </div>
  <div class="col col-10 mt-3">
    <div class="alert alert-info" role="alert">
      Aquí puedes agregar tu tarea :)
    </div>
  </div>
  <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
<div class="row m-3">
  <div class="col col-lg-1"></div>
  <div class="col col-10">
    <h3>Agregar</h3>
    <div class="text-center">
      <form id="frmAddItem" (ngSubmit)="sendData()" [formGroup]="frmAddItem"
        class="form-control mt-3 p-3 border-3 border-info text-start">
        <div class="mb-3 mt-2 row">
          <label for="Día" class="col-sm-2 col-form-label">Día</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="Día" placeholder="1" formControlName="indexDay"
              name="indexDay" min="1" max="28" required>
            <div class="alert alert-danger p-1 m-1 mt-1 ms-2 w-50" role="alert"
              *ngIf="frmAddItem.get('indexDay')?.hasError('required') && frmAddItem.get('indexDay')?.touched">
              Debes indicar el día al que le vas a asignar la tarea
            </div>
          </div>
        </div>
        <hr>
        <div class="mb-3 row">
          <label for="Título" class="col-sm-2 col-form-label">Título</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="Título" placeholder="Hacer algo" formControlName="title"
              name="title" required>
            <div class="alert alert-danger p-1 m-1 mt-1 ms-2 w-50" role="alert"
              *ngIf="frmAddItem.get('title')?.hasError('required') && frmAddItem.get('title')?.touched">
              Debes indicar el título de la tarea
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Descripción" class="col-sm-2 col-form-label">Descripción</label>
          <div class="col-sm-10">
            <textarea type="text" class="form-control" id="Descripción" placeholder="Necesito..."
              formControlName="description" name="description" required></textarea>
            <div class="alert alert-danger p-1 m-1 mt-1 ms-2 w-50" role="alert"
              *ngIf="frmAddItem.get('description')?.hasError('required') && frmAddItem.get('description')?.touched">
              Debes indicar la descripción de la tarea
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="Responsable" class="col-sm-2 col-form-label">Responsable</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="Responsable" placeholder="Nombre" formControlName="responsible"
              name="responsible" required>
            <div class="alert alert-danger p-1 m-1 mt-1 ms-2 w-50" role="alert"
              *ngIf="frmAddItem.get('responsible')?.hasError('required') && frmAddItem.get('responsible')?.touched">
              Debes indicar el responsable de la tarea
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="row m-3">
  <div class="col col-lg-1"></div>
  <div class="col col-10">
    <button type="submit" form="frmAddItem" [disabled]="frmAddItem.invalid"
      class="btn btn-primary btn-lg shadow-lg bottom-0 end-0 float-end w-auto">
      <i class="bi bi-folder-plus"> Guardar</i>
    </button>
  </div>
</div>
