
  <form id="frmFormReactive" (ngSubmit)="cargarLista()" [formGroup]="frmFormReactive">
      <label for="Día" class="col-sm-2 col-form-label">DIA DE FEBRERO</label>
        <div class="col-sm-10">
        <input type="number" formControlName="idCalendar" id="idCalendar"  name="idCalendar">
            <div id="altoMensaje" *ngIf="frmFormReactive.get('idCalendar')?.hasError('required')
       && frmFormReactive.get('idCalendar')?.touched">Campo requerido, ingresar por favor</div>
        </div>
        <button type="submit" form="frmFormReactive">FILTRAR MIS TAREAS POR DIA</button>

        <button type="button" class="btn btn-primary" [routerLink]="routergoBackMenu" id="goBackHome">VOLVER AL MENU PRINCIPAL</button>
    </form>

    <div class="card border border-1 border-success">
      <div class="card-body">
    <ul *ngFor="let data of routeShowTaskById">
      <p id="valorTitle">TITULO DE LA TAREA:</p>
      <h6 class="card-title" id="valorTask">{{data.title |  lowercase}}</h6>
      <br>
      <label id="valorTitle">DESCRIPCION: </label>
      <h6 class="card-title" id="valorTask">{{data.descripccion |  lowercase}}</h6>
      <br>
      <label id="valorTitle">RESPONSABLE: </label>
      <h6 class="card-title" id="valorTask">{{data.resposible |  lowercase}}</h6>
      <br>
      <label id="valorTitle">ESTADO: </label>
      <h6 class="card-title" id="valorTask">{{data.isCompleted|refactorValues}}</h6>
      <br>
      <br>
      </ul>
      </div>
    </div>
