<!-- eslint-disable prettier/prettier -->
<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="header__content">
          <div class="header__logo">
            <img src="assets/images/th.jpg" alt="logo"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="jumbotron" id="linear-gradient">
  <h1 class="display-4">Bienvenido a la aplicación de tareas</h1>
  <p class="lead">Esta aplicación te permite crear, editar y eliminar tareas.</p>
  <hr class="my-4" />

<!-- <div class="displayTable"> -->
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>
      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Log in">
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="auth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span>Don't have an account?<span class="redirect"> Sign Up</span></span>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span class="text-muted">Todos los derechos reservados</span>
  </div>
</footer>

