<nav class="navbar navbar-expand-lg bg-dark bg-gradient sticky-top">
  <div class="container-fluid ps-4">
    <a class="navbar-brand text-light" [routerLink]="routeDashboard">
      <strong>
        <h2>ToDoList - SofkaU</h2>
      </strong>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Funciones
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="routeAdd">Agregar</a></li>
            <li><a class="dropdown-item" [routerLink]="routeList">Listar</a></li>
          </ul>
        </li>
      </ul>
      <span class="text-light me-5">¡Hola! {{userName}} </span>
      <button class="btn btn-outline-secondary text-light" (click)="logout()"><i class="bi bi-box-arrow-right">
          LogOut</i></button>
    </div>
  </div>
</nav>
