#goBackHome{


  background-color:rgb(40, 240, 14);
  font-size: xx-large;
  color: black;
  text-align: center;

}

#ShowAllTaskFinish{


  background-color: rgb(236, 138, 8);
  font-size: xx-large;
  color: black;
  text-align: center;

}

