<div class="container text-center align-items-center">
  <div class="card text-center align-items-center pt-5">
    <img src="{{user.data.avatarUrl}}" class="rounded-circle" style="width: 150px;" alt="Avatar" />
    <div class="card-body">
      <h5 class="card-title">{{user.data.fullName | titlecase}}</h5>
      <p class="card-text">Email: {{user.data.email | lowercase}}</p>
      <p class="card-text">Phone: {{user.data.phone | phoneNumber:undefined:' '}}</p>
      <p class="card-text">Document: {{getKeyByValue(user.data.documentTypeId)}}. {{user.data.document}}</p>
      <a type="button" class="btn btn-primary" (click)="setState()">Primary</a>
    </div>
  </div>
</div>
<sofka-bank-customer-edit [value]="state1"></sofka-bank-customer-edit>