<nav>
  <!--
<h1>{{title}}</h1>

    <a routerLink="/dashboard">Dashboard</a>

  <a routerLink="/heroes">Heroes</a>


  -->
</nav>


<p>
  <label>Fecha de nacimiento del heroe: </label>
  {{ dateOrigin | date:'medium' :'M/d/yy, h:mm a'}}
</p>

<p>
  <label>Nombre del heroe en Mayuscula: </label>
{{nameSuperHeroeUpper | uppercase}}
</p>

<p>

  <label>Nombre del heroe en minuscula: </label>
  {{nameSuperHeroeLower | lowercase}}
  </p>

  <p>
    <label>Dinero recaudado por el Heroes: </label>
    {{dineroOfHeroe | currency: 'USD':'symbol'}}
    </p>

    <p>
      <label>Dinero en impuestos por el Heroes: </label>
      {{impuestosHeroe | number: '4.1-5'}}
      </p>


 <p>
      <label>Porcentaje de ganancias del Heroes: </label>
       {{porcentaje | percent}}
      </p>




<router-outlet></router-outlet>
<app-messages></app-messages>
