#historial{
  display:none
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.table-container {
  padding: 20px;
}

table {
  border: 4px solid rgb(169, 37, 37);
}
