<header>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Tu Historial</h1>
    <p class="fs-5 text-muted">AliBank</p>
  </div>
</header>
<div class="wrapper rounded">
  <nav
    class="navbar navbar-expand-lg navbar-dark dark d-lg-flex align-items-lg-start">
      <p class="text-muted pl-1">Bienvenido a tus historiales</p>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><span class="fa fa-bell-o font-weight-bold"></span>
            <span class="notify">Notifications</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#"><span class="fa fa-search"></span></a>
          <input type="search" class="dark" placeholder="Buscar" />
        </li>
      </ul>
    </div>
  </nav>
  <div class="row mt-2 pt-2">
    <div class="col-md-6" id="income">
      <div class="d-flex justify-content-start align-items-center">
        <p class="fa fa-long-arrow-down"></p>
        <p class="text-white ml-4 money">$9,758.23</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-md-end align-items-center">
        <div class="fa fa-long-arrow-up"></div>
        <div class="text-white ml-4 money">$961.23</div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center mt-3">
    <ul class="nav nav-tabs w-75">
      <li class="nav-item">
        <a class="nav-link active" href="#history">Depositos</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Tranferencias</a></li>
    </ul>
  </div>
  <div class="table-responsive mt-3">
    <table class="table table-dark table-borderless">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">cuenta</th>
          <th scope="col">Fecha</th>
          <th scope="col" class="text-right">Deposito</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deposit of historyDeposit">
          <td scope="row">
            <span class="fa fa-briefcase mr-1"></span> {{ deposit.id }}
          </td>
          <td>
            <span class="fa fa-cc-mastercard"> {{ deposit.account.id }}</span>
          </td>
          <td class="text-muted">{{ deposit.dateTime | date : 'medium' }}</td>
          <td class="d-flex justify-content-end align-items-center">
            <span class="fa fa-long-arrow-up mr-1"></span>
            {{ deposit.amount | currency : 'USA' }}
          </td>
        </tr>
        <tr></tr>
        <tr></tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between align-items-center results">
    <span class="pl-md-3">Gracias por usar nuestos servicios</span>
    <div class="pt-3">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&lt;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&gt;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
