<div class="container-home hero">
  <div class="row">
      <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
          <h1 class="text-light mt-3">Bank JG</h1>
          <p class="text-light">Estamos a tu servicio.<br></p>
          <button
              class="btn btn-light btn-lg action-button" type="button" routerLink="security">Acceder</button>
      </div>
      <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
          <div class="iphone-mockup">
<img class="device" width="500"src="https://i.imgur.com/LnN9yyV.png">
          </div>
      </div>
  </div>
</div>
