<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <form action="" id="formulario" class="formulario">
                <h2 class="fw-bold mb-2 text-uppercase">registro</h2>
                <div class="form-outline form-white mb-4">
                  <select
                    [(ngModel)]="documentTypeId"
                    id="document"
                    class="text-light"
                    name="documentTypeId">
                    <option
                      id="document"
                      class="text-dark"
                      type="text text-muted"
                      value="7a361cba-2546-4d9b-80fe-28e07bc41e1f"
                      selected>
                      Cedula de ciudadania
                    </option>
                    <option
                      id="document"
                      class="text-dark"
                      type="text text-muted"
                      value="7a361cba-2546-4d9b-80fe-28e07bc41e1f">
                      Cedula de Extranjeria
                    </option>
                  </select>
                  <div class="form-outline form-white mb-4">
                    <input
                      name="document"
                      [(ngModel)]="document"
                      type="text"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX">documento</label>
                  </div>
                  <input
                    name="fullName"
                    [(ngModel)]="fullName"
                    type="text"
                    id="nombre"
                    class="form-control form-control-lg"
                    autocomplete="off" />
                  <label for="" class="formulario__label">Nombres</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input
                    name="email"
                    [(ngModel)]="email"
                    type="email"
                    id="typeEmailX"
                    class="form-control form-control-lg" />
                  <label class="form-label" for="typeEmailX">Email</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input
                    name="phone"
                    [(ngModel)]="phone"
                    type="text"
                    id="telefono"
                    class="form-control form-control-lg"
                    autocomplete="off" />
                  <label for="" class="formulario__label">telefono</label>
                </div>
                <div class="form-outline form-white mb-4">
                  <input
                    name="password"
                    [(ngModel)]="password"
                    type="password"
                    id="typePasswordX"
                    class="form-control form-control-lg" />
                  <label class="form-label" for="typePasswordX">Password</label>
                </div>

                <input
                  class="btn btn-outline-light btn-lg px-5"
                  type="button"
                  id="enviar"
                  (click)="sendData()"
                  value="Enviar" />

                <br />
                <br />
                <button
                  type="reset"
                  id="borrar"
                  class="btn btn-outline-light btn-lg px-5">
                  Borrar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
