<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <form
                action=""
                id="formulario"
                class="formulario"
                (ngSubmit)="registerUser()"
                [formGroup]="formRegister">
                <h2 class="fw-bold mb-2 text-uppercase">Registro</h2>
                <div class="form-outline form-white mb-4">
                  <div class="form-outline form-white mb-4">
                    <select
                      formControlName="documentTypeId"
                      id="document"
                      class="text-light"
                      name="documentTypeId">
                      <option
                        id="document"
                        class="text-dark"
                        type="text text-muted"
                        value="7a361cba-2546-4d9b-80fe-28e07bc41e1f"
                        selected>
                        Cedula de ciudadania
                      </option>
                      <option
                        id="document"
                        class="text-dark"
                        type="text text-muted"
                        value="7a361cba-2546-4d9b-80fe-28e07bc41e1f">
                        Cedula de Extranjeria
                      </option>
                    </select>
                  </div>
                  <div
                    class="altoMensaje"
                    *ngIf="
                      formRegister
                        .get('documentTypeId')
                        ?.hasError('required') &&
                      formRegister.get('documentTypeId')?.touched
                    ">
                    El Tipo de documento es requerido
                  </div>
                  <div class="form-outline form-white mb-4">
                    <input
                      name="document"
                      formControlName="document"
                      type="text"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX">documento</label>
                  </div>
                  <div
                    class="altoMensaje"
                    *ngIf="
                      formRegister.get('document')?.hasError('required') &&
                      formRegister.get('document')?.touched
                    ">
                    El Documento es requerido
                  </div>
                  <input
                    name="fullName"
                    formControlName="fullName"
                    type="text"
                    id="nombre"
                    class="form-control form-control-lg"
                    autocomplete="off" />
                  <label for="" class="formulario__label"
                    >Nombre y apellido</label
                  >
                </div>
                <div
                  class="altoMensaje"
                  *ngIf="
                    formRegister.get('fullName')?.hasError('required') &&
                    formRegister.get('fullName')?.touched
                  ">
                  El nombre es requerido
                </div>
                <div class="form-outline form-white mb-4">
                  <input
                    name="email"
                    formControlName="email"
                    type="email"
                    id="typeEmailX"
                    class="form-control form-control-lg" />
                  <label class="form-label" for="typeEmailX">Email</label>
                </div>
                <div
                  class="altoMensaje"
                  *ngIf="
                    formRegister.get('email')?.hasError('email') &&
                    formRegister.get('email')?.touched
                  ">
                  El correo digitado no es válido
                </div>
                <div
                  class="altoMensaje"
                  *ngIf="
                    formRegister.get('email')?.hasError('required') &&
                    formRegister.get('email')?.touched
                  ">
                  El email es requerido
                </div>
                <div class="form-outline form-white mb-4">
                  <input
                    name="phone"
                    formControlName="phone"
                    type="text"
                    id="telefono"
                    class="form-control form-control-lg"
                    autocomplete="off" />
                  <label for="" class="formulario__label">telefono</label>
                  <div
                    class="altoMensaje"
                    *ngIf="
                      formRegister.get('phone')?.hasError('required') &&
                      formRegister.get('phone')?.touched
                    ">
                    El telefono es requerido
                  </div>
                </div>
                <div class="form-outline form-white mb-4">
                  <input
                    name="password"
                    formControlName="password"
                    type="password"
                    id="typePasswordX"
                    class="form-control form-control-lg" />
                  <label class="form-label" for="typePasswordX">Password</label>
                </div>
                <div
                  class="altoMensaje"
                  *ngIf="
                    formRegister.get('password')?.hasError('required') &&
                    formRegister.get('password')?.touched
                  ">
                  la contraseña es requerida
                </div>
                <button
                  class="btn btn-outline-light btn-lg px-5"
                  type="button"
                  id="enviar"
                  (click)="registerUser()"
                  form="frmUsuario"
                  [disabled]="formRegister.invalid">
                  Enviar
                </button>
                <br />
                <br />
                <button
                  type="reset"
                  id="borrar"
                  class="btn btn-outline-light btn-lg px-5">
                  Borrar
                </button>
                <br />
                <br />
                <div class="google-btn">
                  <div class="google-icon-wrapper">
                    <img
                      class="google-icon"
                      src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                  </div>
                  <p
                    class="btn-text"
                    type="button"
                    *ngIf="google"
                    (click)="auth()">
                    <b>Sign up with google</b>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
