<div class="container col-10 col-xxl-4 col-xl-5 col-lg-6 col-md-7 col-sm-8 bg-primary shadow text-white bg-dark mt-5" data-aos="zoom-in" data-aos-duration="1000">
  <div class="row align-items-stretch" data-aos="zoom-in" data-aos-duration="1000">
    <div class="col mx-5">
      <div class="text-center pt-5 pb-4">
        <img src="../../../../../assets/login/images/s.png" width="128" alt="">
      </div>
      <span class="text-center">Enter your email address and we'll send you an email with instructions to reset your
        password.</span>
      <form action="#">
        <div class="mb-2 mt-4">
          <label class="form-label" for="email">Email</label>
          <input class="form-control" type="email" name="email" id="" placeholder="Email">
        </div>
        <div class="d-grid bg-dark rounded-3 mt-4">
          <button class="btn btn-outline-light" type="submit">Reset password</button>
        </div>
        <div class="my-5">
          <span>Don't have an account?
            <a [routerLink]="signUp">Signup</a>
          </span>
          <br>
          <a [routerLink]="signIn">Signin</a>
        </div>
      </form>
    </div>
  </div>
</div>