.container-deposit{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.sub-container{
    width: 400px;
    margin: auto;
    border: 1px solid black;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}