
  <div class="text-center">

    <form id="frmFormReactive" (ngSubmit)="sendData()" [formGroup]="frmFormReactive"
      class="form-control mt-3 p-3 border-3 border-info text-start">

      <div class="mb-3 mt-2 row">
        <label for="Día" class="col-sm-2 col-form-label">id de la tarea</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="id" formControlName="id" name="id">
              <div id="altoMensaje" *ngIf="frmFormReactive.get('id')?.hasError('required')
         && frmFormReactive.get('id')?.touched">Campo requerido, ingresar por favor</div>
          </div>
        </div>

      <hr>

      <div class="mb-3 row">
        <label for="isCompleted" class="col-sm-2 col-form-label">Completada</label>
        <select class="form-control col ms-3 me-3 float-start" aria-label="Default select example"
          id="isCompleted" formControlName="isCompleted" name="isCompleted">
          <option value="" selected>Seleccione si esta terminada o no la tarea</option>
          <option value="true">Si</option>
          <option value="false">No</option>
        </select>
        </div>

<button type="submit" form="frmFormReactive" class="btn btn-primary btn-lg shadow-lg bottom-0 end-0 float-end w-auto">
          <i class="bi bi-folder-plus"> Guardar</i>
</button>
        <button type="button" class="btn btn-primary" [routerLink]="routergoBackMenu" id="goBackHome"> AL MENU PRINCIPAL</button>
      </form>
</div>
