<div class="container-update-customer">
    <form id="formUpdateuser" class="subcontainer" (ngSubmit)="updateUser()" [formGroup]="frmFormulario">
        <div class="sub-container-image">
            <img>
        </div>
        <div class="sub-container">
            <h5> Nombre: </h5>
            <input class="sub-container-input" formControlName="fullName">
            <div class="altoMensaje" *ngIf="
        frmFormulario.get('fullName')?.hasError('required') &&
        frmFormulario.get('fullName')?.touched
      ">
                * El nombre es requerido
            </div>
        </div>
        <div class="sub-container">
            <h5> Documento: </h5>
            <input class="sub-container-input" formControlName="document">
            <div class="altoMensaje" *ngIf="
        frmFormulario.get('document')?.hasError('required') &&
        frmFormulario.get('document')?.touched
      ">
                * El Documento es requerido
            </div>
        </div>
        <div class="sub-container">
            <h5> Email: </h5>
            <input class="sub-container-input" formControlName="email">
            <div class="altoMensaje" *ngIf="
        frmFormulario.get('email')?.hasError('required') &&
        frmFormulario.get('email')?.touched
      ">
                * El email es requerido
            </div>
            <div class="altoMensaje" *ngIf="
        frmFormulario.get('email')?.hasError('pattern') &&
        frmFormulario.get('email')?.touched
      ">
                * No cumple con la estructura de un correo válido
            </div>
        </div>
        <div class="sub-container">
            <h5> Telefono: </h5>
            <input class="sub-container-input" formControlName="phone">
        </div>
        <button class="cic-update" form="formUpdateuser" [disabled]="frmFormulario.invalid">Actualizar</button>
    </form>
</div>