.container-update-customer {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.subcontainer{
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}
.sub-container-image{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: auto;
    margin-top: 5%;
    border-radius: 100%;
}
.sub-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.sub-container-input{
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}
.cic-update{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.altoMensaje{
    font-size: 12px;
    color: red;
}