
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body id="bodyGetTask">


  <div class="d-grid gap-2 col-6 mx-auto">

    <div class="spinner-border text-danger" role="status" id="divSpiner">
      <span class="visually-hidden" >Loading...</span>
    </div>
    <button type="button" class="btn btn-primary" id="ShowAllTaskFinish">MOSTRAR TODAS MIS TAREAS</button>
    <button type="button" class="btn btn-primary" [routerLink]="routergoBackMenu" id="goBackHome">VOLVER AL MENU PRINCIPAL</button>


  </div>




</body>
</html>

