
  <div class="d-grid gap-2 col-6 mx-auto">
    <div class="spinner-border text-danger" role="status" id="divSpiner">
      <span class="visually-hidden" >Loading...</span>
    </div>
    <button type="button" class="btn btn-primary" [routerLink]="routergoBackMenu" id="goBackHome">VOLVER AL MENU PRINCIPAL</button>
    <div *ngFor="let data of calendarWithTask" class="col-3 mb-3">
      <div class="card border border-1 border-success">
        <div class="card-body">
          <h5 class="card-title">{{data.numberDaY}} DE FEBRERO 2023</h5>
          <h6>-</h6>
          <ul *ngFor="let final of data.items">
          <p>*TITULO DE LA TAREA:</p>
          <h6 class="card-title">{{final.title |  lowercase}}</h6>
          <label>*DESCRIPCION: </label>
          <h6 class="card-title">{{final.descripccion |  lowercase}}</h6>
          <label>*RESPONSABLE: </label>
          <h6 class="card-title">{{final.resposible |  lowercase}}</h6>
          <label>*ESTADO: </label>
          <h6 class="card-title">{{final.isCompleted|refactorValues}}</h6>
           <label>-------------------------</label>
          </ul>
        </div>
      </div>
    </div>
    </div>


