

      <div *ngFor="let data of calendarWithTask" class="col-3 mb-3">
        <div class="card border border-1 border-success">
          <div class="card-body">
            <h5 class="card-title">{{data.numberDaY}} DE FEBRERO 2023</h5>
            <ul *ngFor="let final of data.items">
            <p id="valorTitle">TITULO DE LA TAREA:</p>
            <h6 class="card-title" id="valorTask">{{final.title |  lowercase}}</h6>
            <br>
            <label id="valorTitle">DESCRIPCION: </label>
            <h6 class="card-title" id="valorTask">{{final.descripccion |  lowercase}}</h6>
            <br>
            <label id="valorTitle">RESPONSABLE: </label>
            <h6 class="card-title" id="valorTask">{{final.resposible |  lowercase}}</h6>
            <br>
            <label id="valorTitle">ESTADO: </label>
            <h6 class="card-title" id="valorTask">{{final.isCompleted|refactorValues}}</h6>
            <br>
            <br>
            </ul>
          </div>
        </div>
      </div>
    <button type="button" class="btn btn-primary" [routerLink]="routergoBackMenu" id="goBackHome">VOLVER AL MENU PRINCIPAL</button>



