<div class="container-account">
    <div class="form-account">
        <p>Informacion Usuario</p>
        <div class="subcontainer-account">
            <p>Usuario: {{customerName}}</p>
            <p>Estado:{{customerState}}</p>
        </div>
        <p>Informacion Cuenta</p>
        <div class="subcontainer-account">
            <p>Id: {{idAccount}}</p>
            <p>Estado: {{state}}</p>
        </div>
        <p>Informacion Tipo de Cuenta</p>
        <div class="subcontainer-account">
            <p>Id: {{idAccountType}}</p>
            <p>Estado: {{accountTypeState}}</p>
        </div>
        <p>Balance</p>
        <div class="subcontainer-account">
            {{balance}}
        </div>
    </div>
</div>