<!DOCTYPE html>
<html>

<head>
  <title>Title of the document</title>
</head>

<body>
  <h2>{{newCustomer.fullName| uppercase}} Details</h2>
  <h3>{{newCustomer.fullName}} was born {{newCustomer.birthDate | relativeTime}}</h3>
  <h3> Email: {{newCustomer.email | lowercase}}</h3>
  <div>
    <label for="newCustomer-fullName">FullName: </label>
    <input id="newCustomer-fullName" [(ngModel)]="newCustomer.fullName" placeholder="fullName">
  </div>
  <div>
    <label for="newCustomer-birthDate">BirthDate: </label>
    <input type="date" id="newCustomer-birthDate" [(ngModel)]="newCustomer.birthDate" placeholder="birthDate"
      max="2023-02-08">
  </div>
  <div>
    <label for="newCustomer-email">Email: </label>
    <input type="email" id="newCustomer-email" [(ngModel)]="newCustomer.email" placeholder="email">
  </div>
</body>

</html>