/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
=======
.header {
  background-color: #333333;
}

.footer {
  background-color: #333333;
}

.body {
  height: 700px;
}
>>>>>>> fe70c39fb1e5094dd8a4f235c00bffdcc7890cfa
