/* You can add global styles to this file, and also import other style files */
.header {
  background-color: #333333;
}

.footer {
  background-color: #333333;
}

.body {
  height: 1000px;
}

html, body * { box-sizing: border-box; font-family: 'Open Sans', sans-serif; }

body {
  background:
    linear-gradient(
    rgba(246,247,249,0.8),
    rgba(246,247,249,0.8)),
    url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1564049481/bg-clouds.jpg) no-repeat center center fixed;
  background-size: cover;
}
