<nav class="navbar navbar-expand-lg bg-body-tertiary opacity-75">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ToDo List</a>

      <div class="dropdown-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Cuenta
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item">{{cuenta}}</a></li>
          <li><a class="dropdown-item" (click)="logout()">Cerrar Sesion</a></li>
        </ul>
      </div>
    </div>

  </nav>

  
