<div class="content">
  <input type="checkbox" id="click-more" />
  <label for="click-more" class="share-btn">
    <span class="btn btn-secondary">crear cuenta✚</span>
    <a
      ><span
        class="btn btn-dark"
        (click)="registerAccount('ab27c9ac-a01c-4c22-a6d6-ce5ab3b79185')"
        >Cuenta de ahorros</span
      ></a
    >
    <a
      ><span
        class="btn btn-dark"
        (click)="registerAccount('10b6c590-85fa-4621-b85a-4021e882c080')"
        >Cuenta corriente</span
      ></a
    >
  </label>
</div>
