<div *ngIf="hero">

  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div><span>phone: </span>{{hero.phone | phone}}</div>
  <div><span>conversionMoney: </span>{{hero.money| conversionMoney:'COP':'EUR'}}</div>
  <div><span>power: </span>{{hero.power| power  }}</div>
  <div><span>planet: </span>{{hero.planet | uppercase  }}</div>
  <div><span>genre: </span>{{hero.genre  | titlecase }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
  </div>
  <button type="button" (click)="goBack()">go back</button>
</div>
