<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  
  <div><span><b>id:</b> </span>{{ hero.id }}</div>
  <div><span><b>phone: </b></span>{{ hero.phone | phone }}</div>
  <div><span><b> savedbyhero: </b></span>{{hero.savedbyhero | saved }}</div>
  <div><span><b> lastAccident: </b></span>{{ hero.lastAccident | relativeTime }}</div>
  <div><span><b>lastname: </b></span>{{ hero.lastname | lowercase }}</div>
  <div><span><b> price: </b></span>{{ hero.price | currency : 'cop' }}</div>
  <div><span><b> force: </b></span>{{ hero.force | number }}</div>
  <div><span><b>speed: </b></span>{{ hero.speed | percent }}</div>
  <div><span><b>lastjob: </b></span>{{ hero.lastjob| date : 'medium' }}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name" />
  </div>
  <button type="button" (click)="goBack()">go back</button>
</div>
