
<div class="modal fade" id="sigInModal" tabindex="-1" aria-labelledby="exampleModalLabel" 
aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Iniciar sesion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="user" [formGroup]="user" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <input formControlName="email" type="email" class="form-control" id="floatingInput" 
            placeholder="name@example.com">
            <label for="floatingInput">Correo</label>
            <div *ngIf="user.get('email')?.touched && 
            user.get('email')?.errors?.['required']"
            class="alert alert-danger">Este campo es requerido.</div>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
            formControlName="password">
            <label for="floatingPassword">Contraseña</label>
            <div *ngIf="user.get('password')?.touched && 
            user.get('password')?.errors?.['required']"
            class="alert alert-danger">Este campo es requerido.</div>
          </div>
          <div>
            <div *ngIf="!userExist"
            class="alert alert-danger">Correo o Contraseña invalidos</div>
          </div>
          <div class="d-grid">
            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"
            form="user" [disabled]="user.invalid" [attr.data-bs-dismiss]="!userExist ? 'modal' : null">
            Sign in</button>
          </div>
        </form>
        <button type="button" (click)="auth()"
        data-bs-dismiss="modal" form="user">Google</button>
      </div>
      <div>
        <span>¿Aun no tienes cuenta?</span>
        <a class="btn btn-primary" [routerLink]="routeLogIn">Registrarte</a>
      </div>
    </div>
  </div>
</div>


<!--<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary" (click)="goTo()">Enviar</button>
</form>-->



<!--<button type="button" (click)="goTo()">Volver</button>-->

