<router-outlet></router-outlet>

<div class="wrapper">
  <form action="#">
    <div class="h5 font-weight-bold text-center mb-3">Registration</div>
    <div class="form-group d-flex align-items-center">
      <div class="icon"><span class="far fa-user"></span></div>
      <input autocomplete="off" type="text" class="form-control" placeholder="Name">
    </div>
    <div class="form-group d-flex align-items-center">
      <div class="icon"><span class="far fa-envelope"></span></div>
      <input autocomplete="off" type="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group d-flex align-items-center">
      <div class="icon"><span class="fas fa-phone"></span></div>
      <input autocomplete="off" type="tel" class="form-control" placeholder="Phone">
    </div>
    <div class="form-group d-flex align-items-center">
      <div class="icon"><span class="fas fa-map-marker-alt"></span></div>
      <input autocomplete="off" type="text" class="form-control" placeholder="City">
    </div>
    <div class="form-group d-flex align-items-center">
      <div class="icon"><span class="fas fa-key"></span></div>
      <input autocomplete="off" type="password" class="form-control" placeholder="Password">
      <div class="icon btn"><span class="fas fa-eye-slash"></span></div>
    </div>
    <div class="mb-2">
      <label class="option">Remember me
        <input type="checkbox" checked>
        <span class="checkmark"></span>
      </label>
    </div>
    
   <button type= "Register "(click)="sendData()" class="btn btn-primary mb-3" [routerLink]="routeRegister">
   Signup
   </button>

  </form>
</div>