/* Importing fonts from Google */
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #111111, #0a0a0a);
}

.wrapper {
    max-width: 450px;
    margin: 50px auto;
    padding: 20px 30px;
    min-height: 300px;
    background-color: #3789b927;
    border-top: 1px solid #2827276e;
    border-left: 1px solid #2827276e;
    border-radius: 15px;
}

.wrapper .h5 {
    color: #070707;
}

.wrapper .form-group {
    border-bottom: 1px solid #070707;
    margin-bottom: 1.5rem;
}

.wrapper .form-group:hover {
    border-bottom: 1px solid #0d0d0d;
}

.wrapper .form-group .icon {
    color: #080808;
}

.wrapper .form-group .form-control {
    background: inherit;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: #070606;
}

.wrapper .form-group input::placeholder {
    color: #0b0b0b;
}

.wrapper .form-group input:focus::placeholder {
    opacity: 0;
}

.wrapper .form-group .fa-phone {
    transform: rotate(90deg);
}


.wrapper .option {
    color: #0a0a0a;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none
}

.wrapper .option:hover {
    color: #e41414;
}

.wrapper .option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.wrapper .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: inherit;
    border: 2px solid #0f0e0e;
    border-radius: 2px
}

.wrapper .option input:checked~.checkmark {
    transition: 300ms ease-in-out all
}

.wrapper .checkmark:after {
    content: "\2713";
    position: absolute;
    display: none;
    font-weight: 600;
    color: #100f0f;
    font-size: 0.9rem;
}

.wrapper .option input:checked~.checkmark:after {
    display: block
}

.wrapper .option .checkmark:after {
    left: 2px;
    top: -4px;
    width: 5px;
    height: 10px
}

.wrapper .btn.btn-primary {
    position: relative;
    color: #3660b4;
    padding: 0.3rem 1rem;
    border-radius: 20px;
    border: 1px solid #092d54;
    background-color: inherit;
    box-shadow: none;
    overflow: hidden;
}

.wrapper .btn.btn-primary:hover {
    background-color: #b4b4b433;
    color: #3945d0;
}

.wrapper .terms {
    color: #151414;
    font-size: 0.85rem;
    text-align: center;
}

.wrapper .terms a {
    text-decoration: none;
    color: #eee;
}

.wrapper .terms a:hover {
    color: #fff;
}

.wrapper .connect {
    position: relative;
}




