<div class="container-login">
  <div class="row">
    <div class="card">
      <form
        class="box form-login"
        id="formRegister"
        (ngSubmit)="updateCustomer()"
        [formGroup]="frmSingUp"
      >
        <h1>Actualizar información</h1>
        <p class="text-muted">
          Por favor ingrese todos los datos ya que son obligatorios!
        </p>
        <input
          type="text"
          name="fullName"
          placeholder="Nombre completo"
          formControlName="fullName"
        />
        <div
          class="text-danger div-alert"
          *ngIf="
            frmSingUp.get('fullName')?.hasError('required') &&
            frmSingUp.get('fullName')?.touched
          "
        >
          *El nombre es obligatorio
        </div>
        <div
          class="text-danger div-alert"
          *ngIf="
            frmSingUp.get('fullName')?.hasError('minlength') &&
            frmSingUp.get('fullName')?.touched
          "
        >
          *El nombre debe tener mínimo 3 caracteres
        </div>
        <div
          class="text-danger div-alert"
          *ngIf="
            frmSingUp.get('fullName')?.hasError('maxlength') &&
            frmSingUp.get('fullName')?.touched
          "
        >
          *El nombre debe tener máximo, 500 caracteres
        </div>
        <input
          type="text"
          name="document"
          placeholder="documento"
          formControlName="document"
        />

        <div
          class="text-danger div-alert"
          *ngIf="
            frmSingUp.get('document')?.hasError('required') &&
            frmSingUp.get('document')?.touched
          "
        >
          *El documento es obligatorio
        </div>
        <input
          type="text"
          name="phone"
          placeholder="Celular"
          formControlName="phone"
        />
        <div
          class="text-danger div-alert"
          *ngIf="
            frmSingUp.get('phone')?.hasError('required') &&
            frmSingUp.get('phone')?.touched
          "
        >
          *El número es obligatorio
        </div>
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          formControlName="password"
        />
        <div
          class="text-danger div-alert"
          *ngIf="
            frmSingUp.get('password')?.hasError('required') &&
            frmSingUp.get('password')?.touched
          "
        >
          *La contraseña es obligatoria
        </div>
        <div
          class="text-danger div-alert"
          *ngIf="
            frmSingUp.get('password')?.hasError('minlength') &&
            frmSingUp.get('password')?.touched
          "
        >
          *La contraseña debe contener mínimo 8 caracteres
        </div>
        <div
          class="text-danger div-alert"
          *ngIf="
            frmSingUp.get('password')?.hasError('pattern') &&
            frmSingUp.get('password')?.touched
          "
        >
          *La contraseña debe contener mínimo una mayúscula, una minúscula y un
          número
        </div>
        <input
          type="submit"
          form="formRegister"
          [disabled]="frmSingUp.invalid"
          value="Actualizar"
        />
        <br />
      </form>
    </div>
  </div>
</div>
