*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: #17202A;
}
#btnC{
	text-decoration: none;
	display: inline-block;
	position: relative;
	padding: 20px 40px;
	text-transform: uppercase;
	color: #ddd;
	background: #1C2833;
	font-size: 16px;
	margin: 20px;
	letter-spacing: 0.7em;
	border-radius: 2px;
}
#btnC p{
	position: absolute;
	display: block;
	background: white;
}
#btnC p:nth-child(1){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
}
#btnC:hover p:nth-child(1){
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.25s;
}

#btnC p:nth-child(2){
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
}
#btnC:hover p:nth-child(2){
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform 0.25s;
	transition-delay: 0.25s;
}

#btnC p:nth-child(3){
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s;
}
#btnC:hover p:nth-child(3){
	transform: scaleX(1);
	transform-origin: right;
	transition: transform 0.25s;
	transition-delay: 0.35s;
}

#btnC p:nth-child(4){
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
}
#btnC:hover p:nth-child(4){
	transform: scaleY(1);
	transform-origin: top;
	transition: transform 0.25s;
	transition-delay: 0.45s;
}
#btnC:hover{
	transition: 0.5s;
	transition-delay: 1s;
	background: white;
}



#btnA{
	text-decoration: none;
	display: inline-block;
	position: relative;
	padding: 20px 40px;
	text-transform: uppercase;
	color: #ddd;
	background: #1C2833;
	font-size: 16px;
	margin: 20px;
	letter-spacing: 0.7em;
	border-radius: 2px;
}
#btnA p{
	position: absolute;
	display: block;
	background: white;
}
#btnA p:nth-child(1){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
}
#btnA:hover p:nth-child(1){
	transform: scaleX(1);
	transform-origin: left;
	transition: transform 0.25s;
}

#btnA p:nth-child(2){
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
}
#btnA:hover p:nth-child(2){
	transform: scaleY(1);
	transform-origin: bottom;
	transition: transform 0.25s;
	transition-delay: 0.25s;
}

#btnA p:nth-child(3){
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s;
}
#btnA:hover p:nth-child(3){
	transform: scaleX(1);
	transform-origin: right;
	transition: transform 0.25s;
	transition-delay: 0.35s;
}

#btnA p:nth-child(4){
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
}
#btnA:hover p:nth-child(4){
	transform: scaleY(1);
	transform-origin: top;
	transition: transform 0.25s;
	transition-delay: 0.45s;
}
#btnA:hover{
	transition: 0.5s;
	transition-delay: 1s;
	background: white;
}

